<div class="ps-breadcrumb">
	<div class="navImage">  
    </div>
     <h1 class="psd">Behind Etre</h1>

    <div class="contenido">

    	
		    <p class="mostrar">Etre is a curated, gift business based in Monterrey, Mexico.
			We specialize in creating custom, personalized gifts boxes for any occasion.</p>

			<p class="mostrar">Etre focuses on becoming your number one, go-to source for gifts.
			Whether you need something for a birthday, an anniversary, or any celebration, Etre will
			help you create the perfect gift through presentable, personal and easy-to-send boxes.</p>

			<p class="mostrar">Etre’s mission is to help people create stronger relationships through personal gifts.
			People can create their own personalized, custom, curated box or choose from a set of
			pre-made themed boxes.  </p>  		
  

    </div>


</div>

 <style>
 	.navImage {
	   background-color: #490D40;
	   background: url("https://firebasestorage.googleapis.com/v0/b/market-place-31cf1.appspot.com/o/Images%2FGWD9nWQzdS23k3hr.png?alt=media&token=2daac6db-45f8-46a0-ac05-7a34680a14e1") no-repeat center center;
		   width: 100%;
		   background-size: cover;
		   height: 685px;
		   margin-top: -105px;
		   
		   .heading {
		      color: white;
		      text-align: center;
		      padding-top: 200px;
		   }
	   }

   .psd{
	   	color: white;
	    text-align: center;
	   	margin-top: -27%;
	   	margin-bottom: 29%
    }
  	/*Contenido*/ 

  	.contenido{
    	margin-left: 6%;
    	margin-right: 3%;
        height: px;
        margin-bottom: 2%;
    }

     .mostrar{
      font-size: 24px;
      margin-bottom: 4%;
      margin-top: 4%;
    }

 </style>