<div class="ps-breadcrumb div-min-df" style="margin-top: 14%;">

    <div 
    *ngIf="!preload"> 

    	<!-- Barra de números --> 
    	<div class="contrainer">
    		<div>
     			<ul class="progressbar">
         			<a class="active" (click)="HyperLink1()">Step 1</a>
         			<a class="active" (click)="HyperLink2()">Step 2</a>
             		<a class="active">Step 3</a>
    	        	<a >Done!</a>
    			</ul>
    			<br>
       	 	</div><br>
       	</div><br> 

        <!--=====================================
        Descripción    
        ======================================-->
        <div class="container step-3gf">
            <div style="text-align: center; margin-top: 12%;
            justify-content: center; margin-bottom: 9%;">

              <h3 class="parrafo"  style="font-family:'Libre Franklin', sans-serif; font-size: 27px;
              font-weight: 450; color: #6a6a6a;">
                Step 3 of 4 
              </h3>

              <p style="font-family:'Libre Franklin', sans-serif; font-size: 24px;
              font-weight: 450; color: black;">
                WRITE YOUR MESSAGE
              </p>

            </div>
        </div>

    
        <div class="container" style="">
            <div class="row" style="padding: 0px;">

                <div class="col-lg-3 col-md-3 col-sm-12" >
                    <img src="{{path}}img/products_etre/carta.jpg" maxlength="30"
                    style="height: 370px; width: auto;">
                </div>

                <div class="col-lg-9 col-md-8 col-sm-12">

                    <div style="display: flex;">
                        <div class="col-6" style="padding:0px;">

                            <label for="exampleInputPassword1"
                            style="font-family:'Libre Franklin', sans-serif;
                            font-size: 20px;font-weight: 20;">
                                To
                            </label>

                            <input class="form-control" style="border:1px solid #dddddd !important;" 
                            type="tex" id="to-send">

                        </div>

                        <div class="col-6" >

                            <label for="exampleInputPassword1"
                            style="font-family:'Libre Franklin', sans-serif;
                            font-size: 20px;font-weight: 20;">
                                From
                            </label>

                            <input class="form-control" style="border:1px solid #dddddd !important;" 
                            type="tex" id="to-from">

                        </div>

                    </div>  

                    <div style="">

                        <label for="exampleInputPassword1"
                        style="font-family:'Libre Franklin', sans-serif;
                        font-size: 20px;font-weight: 20;">
                            Message
                        </label>

                        <textarea name="Enter your card message here. 120 characters" 
                        id="to-message" rows="5" cols="30" id="to-message"></textarea>

                        <p style="font-family:'Libre Franklin', sans-serif;
                        font-size: 20px;font-weight: 20;padding-top: 2%;padding-bottom: 3%;">
                            120 characters remaining
                        </p>
                        
                    </div>  

                    <div style="display: flex;">

                        <input type="checkbox" ng-model="model.card_blank" ng-checked="model.card_blank" >
                        <p style="font-family:'Libre Franklin', sans-serif; margin-left: 2%;
                        font-size: 20px;font-weight: 20;">
                            click here and we'll send the card blank outside the box for you to write yourself!
                        </p>
                        
                    </div>

                    <a id="guardar" 
                    (click)="HyperLinkTow()"
                    (click)="fncCarta()"
                    style="display: flow-root; background: black; color: white; padding-top: 2%;
                    text-align: center; cursor: pointer;font-family:'Libre Franklin', sans-serif; 
                    font-size: 20px; font-weight: 20; padding-bottom: 2%;">
                        ADD TO CART
                    </a>
                
                </div>
            
            </div>
        </div>    
               	

        <!-- Boton previu -->

       	<div class="previu">
            
       	 	<a routerLink="../selecction-paso-dos" 
            class="btn btn-sm animated-button thar-three"
            (click)="fncPrevious()"
            style="font-family:'Libre Franklin', sans-serif; 
            font-weight: 20;font-size: 15px;">  
                PREVIOUS STEP
            </a>

       	 	<!-- <a routerLink="../selecction-paso-dos">PREVIOUS STEP</a> -->
    	</div>

    </div>

 <!--=====================================
Preload
======================================-->
<div
*ngIf="preload"
class="d-flex justify-content-center">
    
    <div class="spinner-border text-muted my-5"></div>

</div>   
</div>	


<style>

    @media screen and  (max-width: 360px) {

      .img-cart {
        margin-left: -4%  !important;
      }

      .previu {
        margin-left: 4% !important;
      }
      .step-3gf {
        margin-top: 18%;
        margin-bottom: 21% !important;
      }
      .parrafo {
        margin-top: 22% !important;
      }
      .div-min-df {
        margin-top: 28% !important;
      }
    } 

    @media screen and  (max-width: 411px) {

      .img-cart {
        margin-left: -4%  !important;
      }

      .previu {
        margin-left: 4% !important;
      }
      .step-3gf {
        margin-top: 18%;
        margin-bottom: 21% !important;
      }
      .parrafo {
        margin-top: 22% !important;
      }
      .div-min-df {
        margin-top: 28% !important;
      }
    }

    @media screen and  (max-width: 414px) {

      .img-cart {
        margin-left: -4%  !important;
      }

      .previu {
        margin-left: 4% !important;
      }
      .step-3gf {
        margin-top: 18%;
        margin-bottom: 21% !important;
      }
      .parrafo {
        margin-top: 22% !important;
      }
      .div-min-df {
        margin-top: 28% !important;
      }
    }

    .contrainer{
        width: 100%;
        display:block;  
    } 
    .progressbar{
        counter-reset: step;
    }
    .progressbar a{
        list-style-type: none;
        float: left;
        width: 24.33%;
        position: relative;
        text-align: center;
        font-family:'Libre Franklin', sans-serif; 
        font-weight: 450;
        font-size: 20px;
    }
    .progressbar a:before{
        content: counter(step);
        counter-increment:step;
        width: 30px;
        height: 30px;
        line-height: 27px;
        border: 1px solid #ddd;
        display: block;
        text-align: center;
        margin: 0 auto 25px auto;
        border-radius: 50px;
        background-color: white;
    }    
    .progressbar a:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #ddd;
        top: 15px;
        left: -50%;
        z-index: -1;
    }
    .progressbar a:first-child:after{
        content: none;
    }
    .progressbar a.active{
        display: block;
        color: #6a6a6a;
    }
    .progressbar a.active:before{
        background-color: #6a6a6a;
        border-color:#6a6a6a;
    }
    .progressbar a.active + a:after{
        background-color: #6a6a6a;
    }

    /*Clase súper active */
    .progressbar a.superActive{
        display: block;
        color: #b0714a;
    }
    .progressbar a.superActive:before{
        background-color: #b0714a;
        border-color:#b0714a;
    }
    .progressbar a.superActive + a:after{
        background-color: #b0714a;
    }
 
    /*Progressbar before*/

    .progressbar a.activetwo{
        display: block;
        color: #F0B27A;
    }
    .progressbar a.activetwo:before{
        background-color: #F0B27A;
        border-color:#F0B27A;
    }
    .progressbar a.activetwo + a:after{
        background-color:#F0B27A;
    }
   
    /*Caja de productos*/
    
    .imagecontainer{
        display: flex;
        justify-content:center;
        width: 100%
        font-family:'Libre Franklin', sans-serif; 
        /*font-weight: 800;*/
    }

    .image-style{
        width: 49%;
        padding: 2px;
    } 

    .image-style img{

    }

    #transition-image{
        position: absolute;
        top: 0px:
        left:0px;
        opacity: 0;
        transition: opacity 0.5s ease;

    }
    #transition-image:hover{
        opacity: 1;
    }

    /* Global Button Styles */

    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        border-radius: 0;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }
    a.animated-button:link:after, a.animated-button:visited:after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 50%;
        z-index: -1;
        -webkit-transition: all 0.75s ease 0s;
        -moz-transition: all 0.75s ease 0s;
        -o-transition: all 0.75s ease 0s;
        transition: all 0.75s ease 0s;
    }
    a.animated-button:link:hover, a.animated-button:visited:hover {
        color: #FFF;
        text-shadow: none;
    }
    a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
        height: 50%;
    }
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        border-radius: 0;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

    a.animated-button.thar-three {
        color: #fff;
        cursor: pointer;
        display: block;
        position: relative;
        border: 2px solid #F7CA18;
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    0s;
    }
    a.animated-button.thar-three:hover {
        color: #000 !important;
        background-color: transparent;
        text-shadow: nthree;
    }
    a.animated-button.thar-three:hover:before {
        left: 0%;
        right: auto;
        width: 100%;
    }
    a.animated-button.thar-three:before {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 0px;
        z-index: -1;
        content: '';
        color: #000 !important;
        background: black;
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    0s;
    }

  
    /* Global Button Styles */
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        border-radius: 0;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }
    a.animated-button:link:after, a.animated-button:visited:after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 50%;
        z-index: -1;
        -webkit-transition: all 0.75s ease 0s;
        -moz-transition: all 0.75s ease 0s;
        -o-transition: all 0.75s ease 0s;
        transition: all 0.75s ease 0s;
    }
    a.animated-button:link:hover, a.animated-button:visited:hover {
        color: #FFF;
        text-shadow: none;
    }
    a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
        height: 50%;
    }
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        border-radius: 0;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

    a.animated-button.thar-three {
         margin-top: 3px;
        background-color: white;
        color: black;
        cursor: pointer;
        display: block;
        position: absolute;
        border: 2px solid black;
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    0s;
    }
    a.animated-button.thar-three:hover {
        color: white !important;
        background-color: transparent;
        text-shadow: nthree;
    }
    a.animated-button.thar-three:hover:before {
        left: 0%;
        right: auto;
        width: 100%;
    }
    a.animated-button.thar-three:before {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 0px;
        z-index: -1;
        content: '';
        color: white !important;
        background: black; 
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);0s;
    }

    .parrafo{
        margin-top:155px;
        font-size: 100%;
    }

    .images{
    display: flex;
    }

    .previu{ 
      margin-top: 5%;
      margin-left: 10%;
      margin-bottom: 26%;
    }
    
    textarea {
        width: 100%;
        padding: 2%;
        box-sizing: border-box;
        color: #666;
        box-shadow: -1 0px 1px rgba(229, 103, 23, 0.075)inset, 0 0 2px;
        border: 1px solid #dddddd !important;
    }
    /*input{
        width: 100%;
        padding: 2%;
        box-sizing: border-box;
    }*/
    .btn_cart{
            width: 93%;
            height: 12%;
            margin-left: 2%;
            margin-top: -2%;
        }
    .botn_new{
        background:black;
        font-family:'Libre Franklin', sans-serif; 
        font-weight: 800;         
        color: black;
        display: flow-root;


        /*color: wheat;       
        margin-top: 3%;
        padding-left: 28%;
        padding-right: 25%;
        height: 46px;
        justify-content: center;
        align-items: center;
        display: flex;
        border:2px solid;*/
    }
    .add{
        display: flex;
    }
    .add > p {
        margin-left: 2%;
    }

    .characters{
        color: #666;
    }
    .des{
        margin-right: 45%;
    }

    .if{
     display: flex;
    }
    .if > input{
        color: #666;
        box-shadow: 0 0px 1px rgba(229, 103, 23, 0.075)inset, 0 0 2px;
        width: 100%;
        padding: 2%;
        box-sizing: border-box;
    }
    .din{
        display: flex;
    }
    .divcaja{
        
        position: relative;
        margin-left: 6%;
        /*width: 25%;*/
        height: 370px;

    }
    .divcaja > img {
       width: 100%;
       height: 100%;
    }
    .divdestinos{
        /*width: 93%;*/
        height: 75px;
        /*margin-left: 2%;*/
    }
    .divañaditr{
        /*margin-left: 2%;*/
        width: 93%;
    }
    .info{
        /*width:70%; */
    }

    .desti{
        margin-top:0%;
        margin-right:auto;
        font-family:'Libre Franklin', sans-serif; 
        font-weight: 800;
    }
    .desti2{
        margin:0%;
        margin-top: 0%;
        /*margin-left: 2%;*/
        font-family:'Libre Franklin', sans-serif; 
        font-weight: 800;
    }
    .destir{
        /*margin-left: 37%;*/
        margin-top: 4%;
        font-family:'Libre Franklin', sans-serif; 
        font-weight: 800;
    }
    .divmessage{
        /*width: 93%;*/
        height: 224px;
        /*margin-left: 2%;*/
        font-family:'Libre Franklin', sans-serif; 
        font-weight: 800;
    }
    .add-to-direcction{
        margin-top: 3%;
    }
    .add-to-direcction-black{
        background: black;
        color:white;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 2%;
    }
    .div-img-ventana-emergente{ 
        height: 600px;
    }
</style>