<div style="width: 100%;margin-top: 15%; height: px;">
    
    <!-- Barra de números -->  
	<div class="contrainer">
		<div>  
			<ul class="progressbar">
     			<a  class="active" routerLink="/selecction-caja">Step 1</a>
     			<a  class="active"  routerLink="/selecction-paso-dos">Step 2</a>
         		<a  class="active"  routerLink="/selecction-paso-tres">Step 3</a>
	        	<a  class="active">Done!</a>
			</ul>
			<br>
   	 	</div><br> 
   	 </div><br>


   	<!--=====================================
	Descripción   
	======================================-->
	<div class="container">
	    <div style="text-align: center; margin-top: 18%;
	    justify-content: center; margin-bottom: 181px;">

	      <h3 class="parrafo"  style="font-family:'Neue Haas Grotesk Text Pro'; font-size: 27px;
	      font-weight: 450; color: #6a6a6a;">
	        DONE!
	      </h3>

	      <p style="font-family:'Neue Haas Grotesk Text Pro'; font-size: 24px;
	      font-weight: 450; color: black;">
	        CURATING YOUR BOX
	      </p>

	    </div>
	</div> 

   	<!--=====================================
	Preload
	======================================-->
	<div
	  *ngIf="!preload"> 
		<div style="margin-bottom: 20%;">
		   <h3 style="width: 176px; margin-left: 4%;
		    font-family:'Neue Haas Grotesk Text Pro'; 
        	font-weight: 450; font-size: 24px;
		    border-top: 1px solid black !important;">
				Your Cart
			</h3>
			<div class="row" style="padding: 0px;">
				<!--=====================================
				 Div para imagen
				======================================-->
				<div class="col-lg-3 col-md-3 col-sm-12" style=" padding:0px; height: px; justify-content:center;
				display: flex;">
					<div style="height: 100%; display: flex; align-items: center;">
						<img style="width:200px; height:200px;
						"src="{{boxes.box_img}}">
					</div>
				</div>
				<!--=====================================
				  Div para info de caja
				 ======================================-->
				<div class="col-lg-3 col-md-3 col-sm-12" style="padding-top: 1px; height: px">

					<h3 style="font-family:'Neue Haas Grotesk Text Pro'; 
           			font-weight: 450; font-size: 24px;">
           				BUILD A BOXFOX
           			</h3>

					<p style="font-family:'Neue Haas Grotesk Text Pro'; 
           			font-weight: 20;font-size: 20px;">matle black / Regular </p>
					<div style="display: flex;">
						<p>
							<b style="font-family:'Neue Haas Grotesk Text Pro'; 
           			        font-weight: 20;font-size: 20px;">To:</b>
						</p>&nbsp;
						<p style="font-family:'Neue Haas Grotesk Text Pro'; 
           				font-weight: 20;font-size: 20px;"> 
							{{boxes.box_deliver_to}}
					  	</p>
					</div>
					<div style="display: flex;">
						<p>
							<b style="font-family:'Neue Haas Grotesk Text Pro'; 
           			        font-weight: 20;font-size: 20px;">From:</b>	
						</p>&nbsp;
						<p style="font-family:'Neue Haas Grotesk Text Pro'; 
           			    font-weight: 20;font-size: 20px;"> 
							{{boxes.box_deliver_from}}
					  	</p>
					</div>
					<div style="display: flex;">
						<p>
							<b style="font-family:'Neue Haas Grotesk Text Pro'; 
           					font-weight: 20;font-size: 20px;">Message:</b>
						</p>&nbsp;
						<p style="font-family:'Neue Haas Grotesk Text Pro'; 
           				font-weight: 20;font-size: 20px;"> 
							{{boxes.box_deliver_message}}
					  	</p>
					</div>
					<!-- <div style="display: flex;">
						<p>
							<b style="font-family:'Neue Haas Grotesk Text Pro'; 
           					font-weight: 20;font-size: 20px;">Card:</b>
						</p>&nbsp;
						<p style="font-family:'Neue Haas Grotesk Text Pro'; 
           				font-weight: 20;font-size: 20px;"> hol</p>
					</div> -->
					<div>
						<p>
							<b style="font-family:'Neue Haas Grotesk Text Pro'; 
           					font-weight: 20;font-size: 20px;">Gift Box Contentens:</b>
						</p>

						<p style="font-family:'Neue Haas Grotesk Text Pro'; 
           				font-weight: 20;font-size: 20px;"
						*ngFor="let box_arts of products; let lastIndex = last">
							{{box_arts.name}}
						</p>
					</div>
					
				</div>
				<!--=====================================
				  Div precio. cantidad y total
				 ======================================-->
				<div class="col-lg-6 col-md-6 col-sm-12" style="padding: 0px; height: px; display: flex;">
					<!-- Precio -->
					<div class="col-4" style="margin: 1%;">
						<ul style="font-family: sans-serif; list-style: none;">
							<li>
								<p><b style="font-family:'Neue Haas Grotesk Text Pro'; 
           			 			font-weight: 20;font-size: 20px;">Price</b></p>
							</li>
							<li style="margin-top: 50%;font-weight: 20;font-size: 20px;">
								<!-- $345 -->
								$ {{boxes.box_price}}
							</li>
						</ul>
					</div>
					<!-- Quantity -->
					<div class="col-4">
						<ul style="font-family: sans-serif; list-style: none;">
							<li>
								<p><b style="font-family:'Neue Haas Grotesk Text Pro'; 
           							font-weight: 20;font-size: 20px;">Quantity</b></p>
							</li>
							<li style="margin-top: 50%;">
								<div class="quantity">
					                <button class="menos" type="button">-</button>
					                <input type="text" id="quantity" value="1">
					                <button class="mas" type="button">+</button>
					            </div>
							</li>
						</ul>
					</div>
					<!-- Total -->
					<div class="col-4">
						<ul style="font-family: sans-serif; list-style: none;">
							<li>
								<p><b style="font-family:'Neue Haas Grotesk Text Pro'; 
           							font-weight: 20;font-size: 20px;">Total</b></p>
							</li>
							<li style="margin-top: 50%; font-weight: 20;font-size: 20px;">
								${{boxes.box_subtotal}}
							</li>
						</ul>
						
					</div>
				</div>
			</div>
		</div>
		

		<!--=====================================
		Preload
		======================================-->
		<div
		*ngIf="preload"
		class="d-flex justify-content-center">
		    
		    <div class="spinner-border text-muted my-5"></div>

		</div>

	</div>

	<!--=====================================
	Botón para pasar al carrito 
	======================================-->
	<div style="margin-top: -7%;">
		<div class="Checkout">
    	  <a 
    	  (click)="HyperLink()"	
    	  class="btn btn-sm animated-button thar-three" 
    	  style="font-family:'Neue Haas Grotesk Text Pro'; 
   		  font-weight: 20;font-size: 15px;">Checkout</a>
		</div>
	</div> 

</div>	

<style>
	.Checkout{
		display: flex;
		justify-content:center;
		margin-bottom: 10%;
	}
	
	.col-lg-3, .col-md-3, .col-sm-12{
		padding-right: 0px !important;
	}
	.contrainer{
		width: 100%;
		display:block;  
	}

	.progressbar{
	counter-reset: step;
	}
	.progressbar a{
		list-style-type: none;
		float: left;
		width: 24.33%;
		position: relative;
		text-align: center;
		font-family:'Neue Haas Grotesk Text Pro'; 
        font-weight: 450;
  		font-size: 20px;
	}
	.progressbar a:before{
		content: counter(step);
		counter-increment:step;
		width: 30px;
		height: 30px;
		line-height: 27px;
		border: 1px solid #ddd;
		display: block;
		text-align: center;
		margin: 0 auto 50px auto;
		border-radius: 50px;
		background-color: white;
	}    
	.progressbar a:after{
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: #ddd;
		top: 15px;
		left: -50%;
		z-index: -1;
	}
	.progressbar a:first-child:after{
		content: none;
	}
	.progressbar a.active{
		display: block;
		color:#6a6a6a;
	}
	.progressbar a.active:before{
		background-color:#6a6a6a;
		border-color: #6a6a6a;
	}
	.progressbar a.active + a:after{
		background-color:#6a6a6a;
	}

	/*Progressbar before*/

	.progressbar a.activetwo{
	display: block;
	color: #6a6a6a;
	}
	.progressbar a.activetwo:before{
	background-color: #6a6a6a;
	border-color:#6a6a6a;
	}
	.progressbar a.activetwo + a:after{
	background-color:#6a6a6a;
	}
	/*Caja de productos*/

	.imagecontainer{
		display: flex;
		justify-content:center;
		width: 100%
		font-family:'Neue Haas Grotesk Text Pro'; 
        font-weight: 800;
	}
	.parrafo{
	  margin-top:155px;
	  font-size: 100%;
	}

	/*Clase súper active */
	.progressbar a.superActive{
	display: block;
	color: #b0714a;
	}
	.progressbar a.superActive:before{
	background-color: #b0714a;
	border-color:#b0714a;
	}
	.progressbar a.superActive + a:after{
	background-color: #b0714a;
	}
	.quantity {
	    display: flex;
	}

	.quantity .mas {
	    float: right;
	    width: 15%;
	    height: 30px;
	    border: 1px solid #000;
	    color: #000;
	    border-radius: 0;
	    background: #fff
	}
	.quantity .menos {
	    float: left;
	    width: 15%;
	    height: 30px;
	    border: 1px solid #000;
	    color: #000;
	    border-radius: 0;
	    background: #fff
	}

	.quantity input {
	    
	    border: none;
	    border-top: 1px solid #000;
	    border-bottom: 1px solid #000;
	    text-align: center;
	    width: 30%;
	    font-size: 20px;
	    color: #000;
	    font-weight: 300;
	}

	/* Global Button Styles */

    /* Global Button Styles */
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        border-radius: 0;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }
    a.animated-button:link:after, a.animated-button:visited:after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 50%;
        z-index: -1;
        -webkit-transition: all 0.75s ease 0s;
        -moz-transition: all 0.75s ease 0s;
        -o-transition: all 0.75s ease 0s;
        transition: all 0.75s ease 0s;
    }
    a.animated-button:link:hover, a.animated-button:visited:hover {
        color: #FFF;
        text-shadow: none;
    }
    a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
        height: 50%;
    }
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        border-radius: 0;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

	a.animated-button.thar-three {
		color: black;
		cursor: pointer;
		display: block;
		position: relative;
		border: 2px solid #F7CA18;
		transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	0s;
	}
	a.animated-button.thar-three:hover {
		color: white !important;
		background-color: transparent;
		text-shadow: nthree;
	}
	a.animated-button.thar-three:hover:before {
		left: 0%;
		right: auto;
		width: 100%;
	}
	a.animated-button.thar-three:before {
		display: block;
		position: absolute;
		top: 0px;
		right: 0px;
		height: 100%;
		width: 0px;
		z-index: -1;
		content: '';
		color: #000 !important;
		background: #F7CA18;
		transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	0s;
	}

  
    /* Global Button Styles */
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        border-radius: 0;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }
    a.animated-button:link:after, a.animated-button:visited:after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 50%;
        z-index: -1;
        -webkit-transition: all 0.75s ease 0s;
        -moz-transition: all 0.75s ease 0s;
        -o-transition: all 0.75s ease 0s;
        transition: all 0.75s ease 0s;
    }
    a.animated-button:link:hover, a.animated-button:visited:hover {
        color: #FFF;
        text-shadow: none;
    }
    a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
        height: 50%;
    }
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        border-radius: 0;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

	a.animated-button.thar-three {
        font-size: inherit;
        display: flow-root;
        width: 15%;
       /* height: 3%;*/
		/*margin-top: 93px;*/
	    background-color: white;
		color: black;
		padding: 1%;
		cursor: pointer;
		display: block;
		position: absolute;
		border: 2px solid black;
		transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	0s;
	}
	a.animated-button.thar-three:hover {
		color: white !important;
		background-color: transparent;
		text-shadow: nthree;
	}
	a.animated-button.thar-three:hover:before {
		left: 0%;
		right: auto;
		width: 100%;
	}
	a.animated-button.thar-three:before {
		display: block;
		position: absolute;
		top: 0px;
		right: 0px;
		height: 100%;
		width: 0px;
		z-index: -1;
		content: '';
		color: #000 !important;
		background: black; 
		transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);0s;
	}
</style>