<div class="terms">
	<h3 style="font-family:'Neue Haas Grotesk Text Pro'; 
    font-weight: 800; color: black;">TERMS & PRIVACY POLICY</h3>
	<div class="privacy">
		<p style="font-family:'Neue Haas Grotesk Text Pro'; 
        font-weight: 800; color: black;"> 
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
			nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
			enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
			nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in
			hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
			nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
			praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
			Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy
			nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
			enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis

			nisl ut aliquip ex ea commodo consequat.

			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
			nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
			enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
			nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in
			hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
			nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
			praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
			Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy
			nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
			enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis

			nisl ut aliquip ex ea commodo consequat.

			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
			nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
			enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
			nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in
			hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
			nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
			praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
			Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy
			nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
			enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis

			nisl ut aliquip ex ea commodo consequat.

			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
			nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
			enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
			nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in
			hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
			nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
			praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
			Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy
			nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
			enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis

			nisl ut aliquip ex ea commodo consequat.

			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
			nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
			enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
			nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in
			hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
			nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
			praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
			Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy
		</p>
	</div>	
</div>
<style>
	.terms{
		width: 100%;
		height: px;
		margin-top: 10%;
	}
	.terms>h3{
		font-size: 100%;
		text-align: center;
		margin-top: 5%;
	}
	.privacy{
		margin:3%;
	}
	.privacy p{
		margin:3%;
		font-size: 100%;
		text-align: center;
		margin-top: 6%;
		margin-bottom: 4%;
	}
</style>