<div class="terms">
	<h3> TERMS & PRIVACY POLICY</h3>
	<div class="privacy">
		<p> 
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy<br>
			nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi<br>
			enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis<br>
			nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in<br>
			hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat<br>
			nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit<br>
			praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.<br>
			Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy<br>
			nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi<br>
			enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis<br>

			nisl ut aliquip ex ea commodo consequat.<br>

			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy<br>
			nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi<br>
			enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis<br>
			nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in<br>
			hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat<br>
			nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit<br>
			praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.<br>
			Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy<br>
			nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi<br>
			enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis<br>

			nisl ut aliquip ex ea commodo consequat.<br>

			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy<br>
			nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi<br>
			enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis<br>
			nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in<br>
			hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat<br>
			nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit<br>
			praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.<br>
			Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy<br>
			nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi<br>
			enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis<br>

			nisl ut aliquip ex ea commodo consequat.<br>

			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy<br>
			nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi<br>
			enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis<br>
			nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in<br>
			hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat<br>
			nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit<br>
			praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.<br>
			Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy<br>
			nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi<br>
			enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis<br>

			nisl ut aliquip ex ea commodo consequat.<br>

			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy<br>
			nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi<br>
			enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis<br>
			nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in<br>
			hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat<br>
			nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit<br>
			praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.<br>
			Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy<br>
		</p>
	</div>	
</div>
<style>
	.terms{
		width: 100%;
		height: px;
	}
	.terms>h3{
		font-size: 100%;
		text-align: center;
		margin-top: 5%;
	}
	.privacy{
		margin:3%;
	}
	.privacy p{
		margin:3%;
		font-size: 100%;
		text-align: center;
		margin-top: 6%;
		margin-bottom: 4%;
	}
</style>