
<!--=====================================
Shopping Car 
======================================--> 

<div> 
    <div style="margin-left: 4%;">
        <!--=====================================
        Breadcrumb
        ======================================-->  

        <div class="ps-breadcrumb">

            <div class="container">

                <ul class="breadcrumb">

                    <li><a routerLink="/">Home</a></li>

                    <li>Shopping cart</li>

                </ul>

            </div>

        </div>

        
    </div>

   

    <div>

        <div *ngIf="shoppingCart.length == 0">
       
            <div colspan="6" class="text-center">

                <p>
                    You haven't products in the shopping cart yet!
                </p>

            </div>

        </div>

        <h2 style="width: 176px; margin-left: 4%;
        border-top: 1px solid black !important;">
            Your Cart
        </h2>

        <!--=====================================
        Contenido productos indivuduales 
        ======================================-->

        <div *ngFor="let product of shoppingCart; let lastIndex = last"
        class="row" style="padding: 0px; margin-bottom: 3%;">

            <!--=====================================
             Div para imagen
            ======================================-->
            <div *ngIf="product.inbox == false" 
            class="col-lg-3 col-md-3 col-sm-12" style=" padding:0px; 
            height: px; justify-content:center;display: flex;">

                <a  href="product/{{product.url}}"
                style="height: 100%; display: flex; align-items: center;">

                    <img style="width:200px; height:200px;cursor: pointer;
                    "src="{{product.image}}">

                </a>

            </div>

            <!--=====================================
            Div para info de caja
            ======================================-->

            <div *ngIf="product.inbox == false"
            class="col-lg-3 col-md-3 col-sm-12" style="padding-top: 1px; height: px">

                <h3 style="font-size: 19px"> 

                    <a  href="product/{{product.url}}">
                        <b>{{product.name}}</b> 
                    </a>

                </h3>

                <a 
                 class="ps-product__content" 
                 mwlConfirmationPopover
                 [popoverMessage]="popoverMessage"
                 placement="left"
                 style="cursor:pointer" 
                 (confirm)="removeProduct(product.url, product.listDetails)">
                    REMOVE
                </a>

                <div>

                    <a
                    class="ps-product__content" 
                    data-toggle="modal" 
                    data-target=".bd-example-modal-xl"
                    style="cursor: pointer;">
                        <b>Add Address</b>   
                    </a>

                </div>

                
            </div>

            <!--=====================================
            Div precio cantidad y total
            ======================================-->
            <div *ngIf="product.inbox == false"
            class="col-lg-6 col-md-6 col-sm-12" style="padding: 0px; height: px; display: flex;">
                <!-- Precio -->
                <div class="col-4" style="margin: 1%;">
                    <ul style="font-family: sans-serif; list-style: none;">
                        <li>
                            <p><b>Price</b></p>
                        </li>
                        <li style="margin-top: 50%;">
                            <!-- $345 -->

                            <div class="ps-product pShoppingCart" [innerHTML]="product.price"></div>
 
                            <td style="display: none;" class="text-center">$<span class="sShoppingCart">{{product.shipping}}</span></td>               
                        </li>
                    </ul>
                </div>

                <!-- Quantity -->
                <div class="col-4">
                    <ul style="font-family: sans-serif; list-style: none;">
                        <li>
                            <p><b>Quantity</b></p>
                        </li>
                        <li style="margin-top: 50%;">

                            <div  class="form-group--number quantity">

                                <button class="up" 
                                (click)="changeQuantity(quantity.value, 1, 'up', product.url, product.listDetails)">
                                +</button>

                                <button class="down" 
                                (click)="changeQuantity(quantity.value, 1, 'down', product.url, product.listDetails)">
                                -</button>

                                <input class="form-control qShoppingCart" 
                                type="number" value="{{product.quantity}}" min="1" max="9" 
                                step="1" #quantity (change)="changeQuantity(quantity.value, 0, null, product.url, product.listDetails)">
                                    
                            </div>

                        </li>
                    </ul>
                </div>

                <!-- Total -->
                <div class="col-4">

                    <ul style="font-family: sans-serif; list-style: none;">
                        <li>
                            <p><b>Total</b></p>
                        </li>
                        <li style="margin-top: 50%;">

                            <div class="subTotalPrice">
                                <div class="spinner-border subTotalPriceM"></div>
                            </div>

                        </li>
                    </ul>
                    
                </div>

            </div>

          {{ lastIndex ? callback() : ""}}

        </div>


        <!--=====================================
        Contenido de cajas y productos *ngIf="products.category == tpCheck"
        ======================================-->
        <div>

            <div 
            class="row" style="padding: 0px;">

                <!--=====================================
                 Div para imagen
                ======================================-->
                <div class="col-lg-3 col-md-3 col-sm-12" style=" padding:0px; height: px; justify-content:center;
                display: flex;">

                    <div style="height: 100%; display: flex; align-items: center;">
                        <img style="width:200px; height:200px;"
                         src="https://firebasestorage.googleapis.com/v0/b/market-place-31cf1.appspot.com/o/backup%2Fproduct.jpg?alt=media&token=b971bf3d-137c-4d05-852a-fa923fb66db0">


                    </div>

                </div>
                <!--=====================================
                  Div para info de caja
                 ======================================-->
                <div class="col-lg-3 col-md-3 col-sm-12" style="padding-top: 1px; height: px">
                    <h3>BUILD A BOXFOX</h3>
                    <p>matle black / Regular </p>
                    <div style="display: flex;">
                        <p>
                            <b>To:</b>
                        </p>&nbsp;
                        <p> 
                         <!--    {{boxes.box_deliver_to}} -->
                        </p>
                    </div>
                    <div style="display: flex;">
                        <p>
                            <b>From:</b>    
                        </p>&nbsp;
                        <p > 
                           <!--  {{boxes.box_deliver_from}} -->
                        </p>
                    </div>
                    <div style="display: flex;">
                        <p>
                            <b>Message:</b>
                        </p>&nbsp;
                        <p > 
                            <!-- {{boxes.box_deliver_message}} -->
                        </p>
                    </div>
                    <div style="display: flex;">
                        <p>
                            <b>Card:</b>
                        </p>&nbsp;
                        <p> hol</p>
                    </div>
                    <div>
                        <p>
                            <b>Gift Box Contentens:</b>
                        </p>

                        <!-- <p *ngFor="let box_arts of products; let lastIndex = last">
                            {{boxes.box_arts_cant}} {{box_arts.name}}
                        </p> -->

                    </div>

                    <div style="display: flex;">

                        <h5 style="display: flex; cursor: pointer; ustify-content: center;
                        align-items: center;">Box Information</h5>

                        <!--=====================================
                        Ícono abajo
                        ======================================--> 

                        <div style="margin-top:-3%;cursor: pointer; ustify-content: center;
                        align-items: center;">

                            <img src="{{path}}img/icons/down.png"  type="button" 
                            data-toggle="collapse" data-target="#collapseExample" 
                            aria-expanded="false" aria-controls="collapseExample">  

                        </div>
                        
                    </div>
                    
                </div>

                <!--=====================================
                Div precio, cantidad y total
                ======================================-->
                <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 0px; height: px; display: flex;">
                    <!-- Precio -->
                    <div class="col-4" style="margin: 1%;">
                        <ul style="font-family: sans-serif; list-style: none;">
                            <li>
                                <p><b>Price</b></p>
                            </li>
                            <li style="margin-top: 50%;">
                                <!-- $345 -->
                                <!-- $ {{boxes.box_price}} -->
                            </li>
                        </ul>
                    </div>
                    <!-- Quantity -->
                    <div class="col-4">
                        <ul style="font-family: sans-serif; list-style: none;">
                            <li>
                                <p><b>Quantity</b></p>
                            </li>
                            <li style="margin-top: 50%;">

                                <div  class="form-group--number quantity">

                                    <button class="up">
                                    +</button>

                                    <button class="down">
                                    -</button>

                                    <input class="form-control qShoppingCart" 
                                    type="number"  min="1" max="9" 
                                    step="1">
                                        
                                </div>

                            </li>
                        </ul>
                    </div>
                    <!-- Total -->
                    <div class="col-4">
                        <ul style="font-family: sans-serif; list-style: none;">
                            <li>
                                <p><b>Total</b></p>
                            </li>
                            <li style="margin-top: 50%;">
                                <!-- ${{boxes.box_subtotal}} -->
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </div>

            <!--=====================================
            Div para los productos dentro de la caja 
            ======================================-->

            <div class="collapse" id="collapseExample">

                <div *ngFor="let item of boxArts; let lastInd = last"
                style="padding: 0px;" class=" row">

                    <!--=====================================
                     Div para imagen
                    ======================================-->
                    <div class="col-lg-3 col-md-3 col-sm-12" style=" padding:0px; height: px; justify-content:center;
                    display: flex;">

                        <div class="col-3" style="padding: 0px; display: flex;justify-content: center;
                        align-items: center; margin-left: 32%;">
                            <img src="{{path}}img/icons/abajo-derecha.png">
                        </div>

                        <div class="col-6" style="height: 100%; display: flex; align-items: center;">
                            <img style="width:154px;"
                             src="https://firebasestorage.googleapis.com/v0/b/market-place-31cf1.appspot.com/o/products%2F01358fe0-882f-11eb-9e8b-1506e632e620.png?alt=media&token=36fa7998-ce01-4f41-8544-aa6ffd288764">
                        </div>

                    </div>

                    <!--=====================================
                    Div para info de caja
                    ======================================-->
                    <div class="col-lg-3 col-md-3 col-sm-12" style="padding-top: 1px; height: px">

                        <div style="height: 200px; width: 200px;  display: flex;align-items: center;">
                            
                            <p><b>info producto</b></p>

                        </div>
                        
                    </div>

                    <!--=====================================
                    Div precio. cantidad y total
                    ======================================-->
                    <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 0px; height: px; display: flex;">
                        <!-- Precio -->
                        <div class="col-4" style="margin: 1%;">
                            <ul style="font-family: sans-serif; list-style: none;">
                            
                                <li style="margin-top: 50%;">
                                 
                                    <!-- $ {{boxes.box_price}} -->
                                
                                        $45
                                   
                                </li>
                            </ul>
                        </div>
                        <!-- Quantity -->
                        <div class="col-4">
                            <ul style="font-family: sans-serif; list-style: none;">
                            
                                <li style="margin-top: 50%;">

                                    <div  class="form-group--number quantity">

                                        <button class="up">
                                        +</button>

                                        <button class="down">
                                        -</button>

                                        <input class="form-control qShoppingCart" 
                                        type="number"  min="1" max="9" 
                                        step="1">
                                            
                                    </div>

                                </li>
                            </ul>
                        </div>

                        <!-- Total -->
                        <div class="col-4">
                            <ul style="font-family: sans-serif; list-style: none;">
                                <li style="margin-top: 50%;">
                                    <!-- ${{boxes.box_subtotal}} -->


                                        $45
                                   
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
                
            </div>

        </div>

    </div>


    <!-- Botónes para el proceso de compra  -->
    <div style="margin-right: 4%;">

        <div 
         *ngIf="shoppingCart.length > 0"
        class="d-flex flex-row-reverse">
          <div [innerHTML]="totalP"></div>             
        </div>

        <div class="ps-section__cart-actions">

            <a class="ps-btn" routerLink="/">
                <i class="icon-arrow-left"></i> Back to Shop
            </a>

            <a 
            *ngIf="shoppingCart.length > 0"
            class="ps-btn" href="checkout">
                Proceed to checkout <i class="icon-arrow-right"></i> 
            </a>

        </div>

    </div>
    

    <!--=====================================
    Ventana Modal 
    ======================================--> 
   
    <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" 
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">

        <!-- Contenido ventana modal -->
        <div class="modal-content"  style="display: flex;">
                <!-- Encabezado ventana modal  -->
                <div class="modal-header">
                    <h5 class="modal-title-rd" id="exampleModalCenterTitle">Box Addres</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="row" style="margin-right: 0px; margin-left: 0px;">
                    <!-- DIV IZQUIERDA -->
                    <div class="modal-content col-lg-6 col-md-12 col-sm-12"
                    style="height:500px;">
                        <!-- Formulario para ingresar dirección  -->
                       <div class="modal-body">
                        <p class="modal-tex">
                            Contact information
                        </p>
                        <input (change)="obtenerInput($event.target.value, 'email')" 
                        type="email" class="form-control"  
                        aria-describedby="emailHelp" placeholder="Enter email">

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="exampleCheck1">      
                                <p class="modal-tex">
                                    Check me out                  
                                </p>
                            </label>
                        </div>
                        <p class="modal-tex">
                            Shipping address
                        </p>
                        <div style="margin-bottom: 1%;">
                            <form>
                              <div class="row">
                                <div class="col">
                                  <input (change)="obtenerInput($event.target.value, 'first_name')" 
                                   type="text" class="form-control" placeholder="Recipient first name">
                                </div>
                                <div class="col">
                                  <input (change)="obtenerInput($event.target.value, 'last_name')" 
                                   type="text" class="form-control" placeholder="Last name">
                                </div>
                              </div>
                            </form>
                        </div>
                        <div style="margin-bottom: 1%;">
                            <input (change)="obtenerInput($event.target.value, 'company')" 
                            type="text" class="form-control"  placeholder="Company (optional)">
                            
                        </div>
                        <div style="margin-bottom: 1%;">
                            <input (change)="obtenerInput($event.target.value, 'address')" 
                            type="text" class="form-control"  placeholder="Address">
                        </div>
                        <div style="margin-bottom: 1%;">
                            
                            <input (change)="obtenerInput($event.target.value, 'appartament')" 
                             type="text" class="form-control"  
                            placeholder="Apartament, suite, etc. (optional)"> 
                        </div>
                        <div style="margin-bottom: 1%;">
                           
                            <select class="form-control"   
                            (change)="fnfEnvio($event.target.value)"
                            style="height: 50px; font-size: 18px;">

                                <option value="300" selected>Defaul shipment</option>
                               
                                <option *ngFor="let envio of anviosArray;let i = index; let lastIndex = last;"
                                
                                value="{{envio.price}}">{{envio.state}}</option>

                            </select>

                            <input *ngFor="let envio of anviosArray;let i = index; let lastIndex = last;"
                            type="text" class="form-control" 
                            placeholder=" Precio del envío {{costo_envio}}"> 

                        </div>

                      </div>
                    </div>

                    <!-- DIV DERECHA -->
                    <div class="div-img-ventana-emergente col-lg-6 col-md-12 col-sm-12" 
                    style="background: white;overflow-y: scroll; height: 500px;">

                        <div *ngFor="let product of shoppingCart; let lastIndex = last"
                        style="display: flex;" class="ps-cart--mini">

                            <div class="col-lg-4 col-md-4 col-sm-12">

                                <img  style="width:70px; height: 70px; margin: 5.5%;" 
                                src="{{product.image}}" maxlength="30">
        
                            </div>

                            <div style="width: 70%;" class="shopping-product col-lg-6 col-md-4 col-sm-12">

                                <a href="product/{{product.url}}">
                                    {{product.name}}
                                </a>

                            </div>

                            <div style="width: 10%;" class="col-lg-2 col-md-4 col-sm-12">
                               
                                <a>
                                    {{product.price2}}
                                </a>

                            </div>

                            {{ lastIndex ? callback() : ""}}

                        </div>
            
                    </div>
                    
                </div>
          
          <div class="modal-footer">
            <button type="button" (click)="goIt()"
            style="background: black; width: 107px; height: 45px;" class="btn btn-secondary" data-dismiss="modal">GOT IT!</button>
          </div>
        </div>
        
      </div>

    </div> 
    
</div>