<!--=====================================
Breadcrumb
======================================-->  

<div class="ps-breadcrumb">

<div class="container">

    <ul class="breadcrumb">

        <li><a routerLink="/">Home</a></li>

        <li>Shopping cart</li>

    </ul>

</div>

</div>


<!--=====================================
Shopping Car
======================================--> 

<div class="ps-section--shopping ps-shopping-cart">

    <div class="container">

        <div class="ps-section__header">

            <h1>Shopping Cart</h1>

        </div>

        <div class="ps-section__content">

            <div class="table-responsive">

                <table class="table ps-table--shopping-cart" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">

                    <thead>

                        <tr>

                            <th>Product name</th>
                            <th>PRICE</th>
                            <th>SHIPPING</th>
                            <th>QUANTITY</th>
                            <th>TOTAL</th>
                            <th></th>

                        </tr>

                    </thead>

                    <tbody>

                    	<tr 
                    	*ngIf="shoppingCart.length == 0">
                    		
                    		<td colspan="6" class="text-center">You haven't products in the shopping cart yet!</td>	

                    	</tr>

                        <tr
						*ngFor="let product of shoppingCart; let lastIndex = last"
                        >
                            <td>

                                <div class="ps-product--cart">

                                    <div class="ps-product__thumbnail">

                                        <a href="product/{{product.url}}">
                                        	<img src="{{product.image}}">
                                        </a>

                                    </div>

                                    <div class="ps-product__content">

                                        <a href="product/{{product.url}}">{{product.name}}</a>

                                        <div [innerHTML]="product.details"></div>

                                        <a 
                                         data-toggle="modal" 
                                         data-target=".bd-example-modal-xl"
                                         style="cursor: pointer;">
                                            Add Address
                                        </a>

                                    </div>

                                </div>

                            </td>

                            <td class="ps-product pShoppingCart" [innerHTML]="product.price"></td>

                            <td class="text-center">$<span class="sShoppingCart">{{product.shipping}}</span></td>


                            <td>

                                <div class="form-group--number quantity">

                                    <button class="up" (click)="changeQuantity(quantity.value, 1, 'up', product.url, product.listDetails)">
                                    +</button>

                                    <button class="down" (click)="changeQuantity(quantity.value, 1, 'down', product.url, product.listDetails)">
                                    -</button>

                                    <input class="form-control qShoppingCart" type="number" value="{{product.quantity}}" min="1" max="9" step="1" #quantity (change)="changeQuantity(quantity.value, 0, null, product.url, product.listDetails)">

                                </div>

                            </td>

                            <td class="subTotalPrice"><div class="spinner-border subTotalPriceM"></div></td>                             

                            <td>

                                <a 
                                 mwlConfirmationPopover
                                 [popoverMessage]="popoverMessage"
                                 placement="left"
                                 style="cursor:pointer" 
                                 (confirm)="removeProduct(product.url, product.listDetails)">
                                    <i class="icon-cross"></i>
                                </a>

                            </td>

                        {{ lastIndex ? callback() : ""}}

                        </tr>                  

                    </tbody>

                </table>

                <h4 class="d-block d-lg-none text-right text-muted py-3">
                    Move to <i class="fas fa-long-arrow-alt-right"></i>
                </h4>

            </div>

            <hr>

            <div 
             *ngIf="shoppingCart.length > 0"
            class="d-flex flex-row-reverse">
              <div [innerHTML]="totalP"></div>             
            </div>

            <div class="ps-section__cart-actions">

                <a class="ps-btn" routerLink="/">
                    <i class="icon-arrow-left"></i> Back to Shop
                </a>

                <a 
                *ngIf="shoppingCart.length > 0"
                class="ps-btn" href="checkout">
                    Proceed to checkout <i class="icon-arrow-right"></i> 
                </a>

            </div>

        </div> 
        
    </div>

    <!--=====================================
    Ventana Modal 
    ======================================--> 
   
    <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" 
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">

        <!-- Contenido ventana modal -->
        <div class="modal-content"  style="display: flex;">
                <!-- Encabezado ventana modal  -->
                <div class="modal-header">
                    <h5 class="modal-title-rd" id="exampleModalCenterTitle">Box Addres</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="row" style="margin-right: 0px; margin-left: 0px;">
                    <!-- DIV IZQUIERDA -->
                    <div class="modal-content col-lg-6 col-md-12 col-sm-12"
                    style="height:500px;">
                        <!-- Formulario para ingresar dirección  -->
                       <div class="modal-body">
                        <p class="modal-tex">
                            Contact information
                        </p>
                        <input type="email" class="form-control" id="exampleInputEmail1" 
                        aria-describedby="emailHelp" placeholder="Enter email">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">      
                                <p class="modal-tex">
                                    Check me out                  
                                </p>
                            </label>
                        </div>
                        <p class="modal-tex">
                            Shipping address
                        </p>
                        <div style="margin-bottom: 1%;">
                            <form>
                              <div class="row">
                                <div class="col">
                                  <input type="text" class="form-control" placeholder="Recipient first name">
                                </div>
                                <div class="col">
                                  <input type="text" class="form-control" placeholder="Last name">
                                </div>
                              </div>
                            </form>
                        </div>
                        <div style="margin-bottom: 1%;">
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Company (optional)">
                            
                        </div>
                        <div style="margin-bottom: 1%;">
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Address">
                        </div>
                        <div style="margin-bottom: 1%;">
                            
                            <input type="text" class="form-control" id="formGroupExampleInput" 
                            placeholder="Apartament, suite, etc. (optional)"> 
                        </div>
                      </div>
                    </div>

                    <!-- DIV DERECHA -->
                    <div class="div-img-ventana-emergente col-lg-6 col-md-12 col-sm-12" 
                    style="background: white;overflow-y: scroll; height: 500px;">

                        <div *ngFor="let product of shoppingCart; let lastIndex = last"
                        style="display: flex;" class="ps-cart--mini">

                            <div class="col-lg-4 col-md-4 col-sm-12" style="width: 20%;">

                                <img  style="width:70px; height: 70px; margin: 5.5%;" 
                                src="{{product.image}}" maxlength="30">
        
                            </div>

                            <div style="width: 70%;" class="shopping-product col-lg-6 col-md-4 col-sm-12">
                                <a href="product/{{product.url}}">{{product.name}}</a>
                            </div>

                            <div style="width: 10%;" class="col-lg-2 col-md-4 col-sm-12">
                               
                              <a>{{product.price2}}</a>

                            </div>

                            {{ lastIndex ? callback() : ""}}

                        </div>
            
                    </div>
                </div>
          
          <div class="modal-footer">
            <button type="button" style="background: black; width: 107px; height: 45px;" class="btn btn-secondary" data-dismiss="modal">GOT IT!</button>
          </div>
        </div>
        
      </div>

    </div> 

</div>
