<!--=====================================
Shopping Car    
======================================--> 

<div  style="margin-top: 12%;"> 
   
    <div style="margin-left: 3%;">

        <!--=====================================
        Breadcrumb  
        ======================================-->  

        <div class="shop-heder">

            <ul class="breadcrumb" style="background-color: transparent;">

                <li><a routerLink="/" style="font-family:'Libre Franklin', sans-serif; 
                    font-weight: 20; font-size: 20px;">Home &nbsp; / &nbsp;</a>
                </li>

                <li style="font-family:'Libre Franklin', sans-serif; 
                font-weight: 20; font-size: 20px;">Shopping cart</li>

            </ul>

        </div>


    </div>

    <!--=====================================
    Vista de los productos agregados
    ======================================-->

    <div>

        <div *ngIf="shoppingCart.length == 0">
       
            <div colspan="6" class="text-center">

                <p style="font-family:'Libre Franklin', sans-serif; 
                font-weight: 20; font-size: 20px;">
                    You haven't products in the shopping cart yet!
                </p>

            </div>

        </div>

        <h3 style="width: 176px; margin-left: 4%; padding-top: 1%;
        border-top: 1px solid black !important;
        font-family:'Libre Franklin', sans-serif; 
        font-weight: 450; font-size: 18px;">
            Your Cart
        </h3>

        <div *ngFor="let product of shoppingCart; let lastIndex = last">

            <!--===================================== 
            Contenido productos indivuduales 
            ======================================-->

            <div *ngIf="product.category != tpCheck"
            class="row" style="padding: 0px; margin-bottom: 3%;">

                <!--=====================================
                 Div para imagen  *ngIf="product.inbox == false" 
                ======================================-->
                <div 
                class="col-lg-3 col-md-3 col-sm-12" style=" padding:0px; 
                height: px; justify-content:center;display: flex;">

                    <a  href="product/{{product.url}}"
                    style="height: 100%; display: flex; align-items: center;">

                        <img style="width:200px; height:200px;cursor: pointer;
                        "src="{{product.image}}">

                    </a>

                </div>

                <!--=====================================
                Div para info de caja *ngIf="product.inbox == false"
                ======================================-->

                <div 
                class="product-cart-p col-lg-3 col-md-3 col-sm-12" style="padding-top: 1px; height: px">

                    <h3> 
                        <a href="product/{{product.url}}">
                            <b style="font-family:'Libre Franklin', sans-serif; 
                            font-weight: 450; font-size: 18px;">{{product.name}}</b> 
                        </a>
                    </h3>

                    <a 
                     class="ps-product__content" 
                     mwlConfirmationPopover
                     [popoverMessage]="popoverMessage"
                     placement="left"
                     style="cursor:pointer;font-family:'Libre Franklin', sans-serif;
                     font-weight: 20; font-size: 18px;" 
                     (confirm)="removeProduct(product.url, product.listDetails)">
                        REMOVE
                    </a>

                    <div  >
                        <a *ngIf="product.inbox == false"
                        (click)="addess(product)"
                        data-toggle="modal" 
                        data-target=".bd-example-modal-xl"
                        style="cursor: pointer;">
                            <p>
                                <b style="font-family:'Libre Franklin', sans-serif; 
                                font-weight: 20; font-size: 20px;">
                                    Add Address
                                </b>
                            </p>   
                        </a>

                    </div>
                    
                </div>

                <!--=====================================
                Div precio cantidad y total *ngIf="product.inbox == false"
                ======================================-->
                <div 
                class="product-price-h col-lg-6 col-md-6 col-sm-12" 
                style="padding: 0px; height: px; display: flex;">
                    <!-- Precio -->
                    <div class="col-4" style="margin: 1%;">
                        <ul style="font-family: sans-serif; list-style: none;">
                            <li>
                                <p><b style="font-family:'Libre Franklin', sans-serif; 
                                    font-weight: 20; font-size: 20px;">Price</b>
                                </p>
                            </li> 
                            <li style="margin-top: 50%;">
                                
                                <p style="font-weight: 20; font-size: 20px;
                                font-family:'Libre Franklin', sans-serif; 
                                font-weight: 20; font-size: 20px;"> $ {{product.price2}}</p>
            
                            </li>
                        </ul>
                    </div>

                    <!-- Quantity -->
                    <div class="col-4">
                        <ul style="font-family: sans-serif; list-style: none;">
                            <li>
                                <p><b style="font-family:'Libre Franklin', sans-serif; 
                                    font-weight: 20; font-size: 20px;">Quantity</b>
                                </p>
                            </li>
                            <li style="margin-top: 50%;">

                                <div  class="form-group--number quantity">

                                    <button class="up" 
                                    (click)="changeQuantity(quantity.value, 1, 'up', product.url, product.listDetails)">
                                    +</button>

                                    <button class="down" 
                                    (click)="changeQuantity(quantity.value, 1, 'down', product.url, product.listDetails)">
                                    -</button>

                                    <input class="form-control qShoppingCart" 
                                    type="number" value="{{product.quantity}}" min="1" max="9" 
                                    step="1" #quantity (change)="changeQuantity(quantity.value, 0, null, product.url, product.listDetails)">
                                        
                                </div>

                            </li>
                        </ul>
                    </div>

                    <!-- Total -->
                    <div class="col-4">

                        <ul style="font-family: sans-serif; list-style: none;">
                            <li>
                                <p><b style="font-family:'Libre Franklin', sans-serif; 
                                    font-weight: 20; font-size: 20px;">Total</b>
                                </p>
                            </li>
                        
                            <li style="margin-top: 50%;">
                                
                                <p style="font-weight: 20; font-size: 20px;
                                font-family:'Libre Franklin', sans-serif; 
                                    font-weight: 20; font-size: 20px;"> 
                                    $ {{product.price2}}
                                </p>
                                     
                            </li>
                        </ul>
                        
                    </div>

                </div>

              {{ lastIndex ? callback() : ""}}

            </div>


            <!--=====================================
            Contenido de cajas y productos *ngIf="products.category == tpCheck"
            ======================================-->
            <div *ngIf="product.category == tpCheck" >

                <div 
                class="row" style="padding: 0px;">

                    <!--=====================================
                     Div para imagen
                    ======================================-->
                    <div class="col-lg-3 col-md-3 col-sm-12" style=" padding:0px; height: px; justify-content:center;
                    display: flex;">

                        <div style="height: 100%; display: flex; align-items: center;">
                            <img style="width:200px; height:200px;"
                             src="{{box_json.box_img}}">
                        </div>

                    </div>
                    <!--=====================================
                      Div para info de caja
                    ======================================-->
                    <div class="contenido col-lg-3 col-md-3 col-sm-12" style="padding-top: 1px; height: px">

                        <h3 style="font-family:'Libre Franklin', sans-serif; 
                        font-weight:450; font-size:18px;">
                            {{box_json.box_name}}
                        </h3>
                        <p style="font-family:'Libre Franklin', sans-serif; 
                        font-weight: 20; font-size: 18px;">matle black / Regular </p>
                        <div style="display: flex;">
                            <p>
                                <b style="font-family:'Libre Franklin', sans-serif; 
                                font-weight: 20; font-size: 20px;">To:</b>
                            </p>&nbsp;
                            <p style="font-family:'Libre Franklin', sans-serif; 
                            font-weight: 20; font-size: 20px;"> 
                                {{box_json.box_deliver_to}}
                            </p>
                        </div>
                        <div style="display: flex;">
                            <p>
                                <b style="font-family:'Libre Franklin', sans-serif; 
                                font-weight: 20; font-size: 20px;">From:</b>    
                            </p>&nbsp;
                            <p style="font-family:'Libre Franklin', sans-serif; 
                            font-weight: 20; font-size: 20px;"> 
                                {{box_json.box_deliver_from}}
                            </p>
                        </div>
                        <div style="display: flex;">
                            <p>
                                <b style="font-family:'Libre Franklin', sans-serif; 
                                font-weight: 20; font-size: 20px;">Message:</b>
                            </p>&nbsp;
                            <p style="font-family:'Libre Franklin', sans-serif; 
                            font-weight: 20; font-size: 20px;"> 
                                {{box_json.box_deliver_message}}
                            </p>
                        </div>
                        <div style="display: flex;">
                            <p>
                                <b style="font-family:'Libre Franklin', sans-serif; 
                                font-weight: 20; font-size: 20px;">Card:</b>
                            </p>&nbsp;
                            <p style="font-family:'Libre Franklin', sans-serif; 
                            font-weight: 20; font-size: 20px;">Nombre de carta</p>
                        </div>
                        <div>
                            <a
                            data-toggle="modal" 
                            data-target=".bd-example-modal-xl"
                            style="cursor: pointer;">
                                <p>
                                    <b style="font-family:'Libre Franklin', sans-serif; 
                                    font-weight: 20; font-size: 20px;">
                                        Add Address
                                    </b>
                                </p>   
                            </a>

                        </div>
                        <div>
                            <p>
                                <b style="font-family:'Libre Franklin', sans-serif; 
                                    font-weight: 20; font-size: 20px;">Gift Box Contentens:</b>
                            </p>

                            <p *ngFor="let boxItem of boxArts; let ind = index; " 
                            style="display: flex; font-family:'Libre Franklin', sans-serif; 
                                 font-weight: 20; font-size: 20px;">
                                <img src="{{boxItem.image}}" style="width: 40px; height: 40px; margin-right: 4%;"> 
                                {{boxItem.name}} X {{cantArray[ind]}}
                            </p>

                            

                        </div>

                        <div style="display: none;">

                            <!-- <h5 style="display: flex; cursor: pointer; ustify-content: center;
                            align-items: center;">Box Information</h5> -->

                            <!--=====================================
                            Ícono abajo
                            ======================================--> 

                            <div style="margin-top:-3%;cursor: pointer; ustify-content: center;
                            align-items: center;">

                                <img *ngFor="let boxItem of boxArray; let lastIndex = last;let indexb = index;"
                                src="{{path}}img/icons/abajo-derecha.png">  

                            </div>
                            
                        </div>
                        
                    </div>

                    <!--=====================================
                    Div precio, cantidad y total
                    ======================================-->
                    <div class="product-price-h col-lg-6 col-md-6 col-sm-12" 
                    style="padding: 0px; height: px; display: flex;">
                        <!-- Precio -->
                        <!-- <div  class="ps-product pShoppingCart" [innerHTML]="product.price"></div> -->
                        
                        <div class="col-4 ps-product pShoppingCart" style="margin: 1%;">
                            <!-- <p class="ps-product__price">$<span class="end-price">{{box_json.box_price}}</span></p> -->
                            <ul style="font-family: sans-serif; list-style: none;">
                                <li>
                                    <p><b style="display: flex; font-family:'Libre Franklin', sans-serif;
                                    font-weight: 20; font-size: 20px;">Price</b></p>
                                </li>
                                <li style="margin-top: 50%;font-family:'Libre Franklin', sans-serif;
                                   font-weight: 20; font-size: 20px;">
                                    $ {{box_json.box_price}}
                                </li>


                            </ul>
                        </div>
                        <!-- Quantity -->
                        <div class="col-4">
                            <ul style="font-family: sans-serif; list-style: none;">
                                <li>
                                    <p><b style="font-family:'Libre Franklin', sans-serif; 
                                    font-weight: 20; font-size: 20px;">Quantity</b></p>
                                </li>
                                <li style="margin-top: 50%;">

                                    <div  class="form-group--number quantity"style="margin-left: 18%;">

                                        <p style="font-weight: 20; font-size: 20px;">1</p>

                                    </div>

                                </li>
                            </ul>
                        </div>
                        <!-- Total -->
                        <div class="col-4">
                            <ul style="font-family: sans-serif; list-style: none;">
                                <li>
                                    <p><b style="font-family:'Libre Franklin', sans-serif; 
                                    font-weight: 20; font-size: 20px;">Total</b></p>
                                </li>
                                <li style="margin-top: 50%;
                                font-family:'Libre Franklin', sans-serif; 
                                font-weight: 20; font-size: 20px;">
                                    ${{box_json.box_subtotal}}
                                </li>
                            </ul>
                            
                        </div>
                    </div>


                </div>


                <!--=====================================
                Div para los productos dentro de la caja 
                <div class="collapse" id="collapseExample">
                ======================================-->

               

            </div>

        </div>    

    </div>


    <!-- Botónes para el proceso de compra  -->
    <div style="margin-right: 4%;">

        <div 
        *ngIf="shoppingCart.length > 0"
        class="d-flex flex-row-reverse">
          <!-- <div [innerHTML]="totalP"></div>  -->
          <h3 style="margin-right: 5%;
          font-family:'Libre Franklin', sans-serif; 
          font-weight: 450; font-size: 24px;">Sub Total $ {{total}}</h3>
                      
        </div>

        <div 
        *ngIf="shoppingCart.length > 0"
        class="d-flex flex-row-reverse">
          <!-- <div [innerHTML]="totalP"></div>  -->
          <h3 style="margin-right: 5%;
          font-family:'Libre Franklin', sans-serif; 
          font-weight: 450; font-size: 24px;">Shipping $ {{costo_envio}}</h3>
                      
        </div>

        <div class="row" style="margin-bottom: 18%; margin-left: 4%; display: flex;">

            <a class="col-lg-6 col-md-6 col-sm-12 btn btn-sm animated-button thar-three" routerLink="/" 
            style="font-family:'Libre Franklin', sans-serif; 
            font-weight: 20; font-size: 15px; margin-left: -1%;">
                <i class="icon-arrow-left"></i> Back to Shop
            </a>

            <a 
            *ngIf="shoppingCart.length > 0"
            class="col-lg-6 col-md-6 col-sm-12 btn btn-sm animated-button thar-three" href="checkout"
            style="font-family:'Libre Franklin', sans-serif; 
            font-weight: 20; font-size: 15px;">
                Proceed to checkout <i class="icon-arrow-right"></i> 
            </a>

        </div>

    </div>
    

    <!--=====================================
    Ventana Modal 
    ======================================--> 
   
    <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" 
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">

        <!-- Contenido ventana modal -->
        <div class="modal-content"  style="display: flex;">
                <!-- Encabezado ventana modal  -->
                <div class="modal-header">
                    <h3 style="font-weight: 450; font-size: 24px;" 
                    class="modal-title-rd" 
                    id="exampleModalCenterTitle">
                        Box Addres
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="row" style="margin-right: 0px; margin-left: 0px;">
                    <!-- DIV IZQUIERDA -->
                    <div 
                    class="modal-content col-lg-6 col-md-12 col-sm-12"
                    style="height:500px;">
                        <!-- Formulario para ingresar dirección  -->
                        <div class="modal-body">

                            <p class="modal-tex" style="
                            font-family:'Libre Franklin', sans-serif; 
                            font-weight: 20; font-size: 20px;">
                                Contact information
                            </p>


                            <input  
                            id="input-email-shopping" 
                            (change)="obtenerInput($event.target.value, 'email')" 
                            type="email" class="form-control" 
                            aria-describedby="emailHelp" placeholder="Enter email">                

                            <div class="form-check">
                                <input type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="exampleCheck1">      
                                    <p class="modal-tex"
                                    style="
                                    font-family:'Libre Franklin', sans-serif; 
                                    font-weight: 20; font-size: 20px;">
                                        Check me out                  
                                    </p>
                                </label>
                            </div>

                            <p class="modal-tex"
                            style="
                            font-family:'Libre Franklin', sans-serif; 
                            font-weight: 20; font-size: 20px;">
                                Shipping address
                            </p>

                            <div style="margin-bottom: 1%;">
                                <form>
                                  <div class="row">
                                    <div class="col">
                                      <input (change)="obtenerInput($event.target.value, 'first_name')" 
                                       type="text" class="form-control" placeholder="Recipient first name"
                                       id="input-nombre-shopping">
                                    </div>
                                    <div class="col">
                                      <input (change)="obtenerInput($event.target.value, 'last_name')" 
                                       type="text" class="form-control" placeholder="Last name"
                                       id="input-apellido-shopping">
                                    </div>
                                  </div>
                                </form>
                            </div>

                            <div style="margin-bottom: 1%;">
                                <input (change)="obtenerInput($event.target.value, 'company')" 
                                type="text" class="form-control"  placeholder="Company (optional)"
                                id="input-compañia-shopping">
                                
                            </div>

                            <div style="margin-bottom: 1%;">
                                <input (change)="obtenerInput($event.target.value, 'address')" 
                                type="text" class="form-control"  placeholder="Address"
                                id="input-direcion-shopping">
                            </div>

                            <div style="margin-bottom: 1%;">
                                
                                <input (change)="obtenerInput($event.target.value, 'appartament')" 
                                 type="text" class="form-control"  
                                placeholder="Apartament, suite, etc. "
                                id="input-apartamento-shopping"> 
                            </div>

                            <div style="margin-bottom: 1%; display: ;">
                               
                                <select class="form-control"   
                                (change)="obtenerInput($event.target.value, 'envio' )"
                                style="height: 50px; font-size: 18px;">

                                    <option value="300" selected style="
                                    font-family:'Libre Franklin', sans-serif; 
                                    font-weight: 20; font-size: 20px;">
                                        Default shipment
                                    </option>
                                   
                                    <option *ngFor="let envio of anviosArray;let i = index; let lastIndex = last;"
                                    style="font-weight: 20; font-size: 20px;" 
                                    value="{{envio.price}}" >
                                        {{envio.state}}
                                    </option>

                                </select>

                                <input *ngFor="let envio of anviosArray;let i = index; let lastIndex = last;"
                                type="text" class="form-control" readonly required
                                (change)="obtenerInput($event.target.value, 'envio')"
                                placeholder=" Precio del envío a {{envio.state}} {{envio.price}}"
                                id="input-envio-shopping"> 

                            </div>

                       </div>
                    </div>

                    <!-- DIV DERECHA -->
                    <div class="div-img-ventana-emergente col-lg-6 col-md-12 col-sm-12" 
                    style="background: white;overflow-y: scroll; height: 500px;">

                        <div *ngFor="let product of productToAddress; let lastIndex = last"
                        style="display: flex;" class="ps-cart--mini">

                            <div class="col-lg-4 col-md-4 col-sm-12">

                                <img  style="width:70px; height: 70px; margin: 5.5%;" 
                                src="{{product.image}}" maxlength="30">
        
                            </div>

                            <div style="width: 70%;" class="shopping-product col-lg-6 col-md-4 col-sm-12">

                                <a href="product/{{product.url}}" 
                                style="
                                font-family:'Libre Franklin', sans-serif; 
                                font-weight: 20; font-size: 20px;">
                                    {{product.name}}
                                </a>

                            </div>

                            <div style="width: 10%;" class="col-lg-2 col-md-4 col-sm-12">
                               
                                <a style="
                                font-family:'Libre Franklin', sans-serif; 
                                font-weight: 20; font-size: 20px;">
                                    {{product.price2}}
                                </a>

                            </div>

                            {{ lastIndex ? callback() : ""}}

                        </div>
            
                    </div>
                    
                </div>
          
          <div class="modal-footer">
            <button type="button" (click)="goIt()"
            style="background: black; width: 107px; height: 45px;
            font-family:'Libre Franklin', sans-serif; 
            font-weight: 20; font-size: 20px;" id="goIt" 
            class="btn btn-secondary" data-dismiss="modal">GOT IT!</button>
          </div>
        </div>
        
      </div>

    </div> 
    
</div>

<style>
    @media screen and  (max-width: 414px) {
        .shop-heder  {
            margin-top: 27% !important;
        }
    }
    @media screen and  (max-width: 414px) {
        .contenido  {
            margin-left: 4% !important;
        }
    }
    /* Global Button Styles */
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        border-radius: 0;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }
    a.animated-button:link:after, a.animated-button:visited:after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 50%;
        z-index: -1;
        -webkit-transition: all 0.75s ease 0s;
        -moz-transition: all 0.75s ease 0s;
        -o-transition: all 0.75s ease 0s;
        transition: all 0.75s ease 0s;
    }
    a.animated-button:link:hover, a.animated-button:visited:hover {
        color: #FFF;
        text-shadow: none;
    }
    a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
        height: 50%;
    }
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        border-radius: 0;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

    a.animated-button.thar-three {
        font-size: inherit;
        padding-left: 7%;
        padding-right: 7%;
        padding-top: 1%;
        padding-bottom: 1%;
        margin-top: 93px;
        background-color: white;
        color: black;
        cursor: pointer;
        display: block;
        /*position: absolute;*/
        border: 2px solid black;
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    0s;
    }
    a.animated-button.thar-three:hover {
        /*color: #000 !important;*/
        color: white !important;
        background-color: transparent;
        text-shadow: nthree;
    }
    a.animated-button.thar-three:hover:before {
        left: 0%;
        right: auto;
        width: 100%;
    }
    a.animated-button.thar-three:before {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 0px;
        z-index: -1;
        content: '';
        color: #000 !important;
        background: #000000; 
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);0s;
    }
    @media screen and  (max-width: 414px) {
      .product-cart-p{

        text-align: center !important;

      }
    }
    @media screen and  (max-width: 414px) {
      .product-price-h{

        margin-left: 7%;

      }
    }

</style>