<!--=====================================
Section Gray 
======================================-->
<div class="div3"> 
    <div class="slider">
         <ul>
            <li id="slide1">
              <img  src="{{path}}img/slider/horizontal/slider_home.png"/>
            </li>
            <li id="slide2"  >
              <img  src="{{path}}img/slider/horizontal/slider_home2.png"/>
            </li>
            <li id="slide3">
              <img  src="{{path}}img/slider/horizontal/slider_home3.png"/>
            </li>
            <li id="slide4">
              <img  src="{{path}}img/slider/horizontal/slider_home.png"/>
            </li>
            <li id="slide5">
              <img  src="{{path}}img/slider/horizontal/slider_home2.png"/>
            </li>
          </ul>
          <!-- <a class="btn btn-sm animated-button thar-three">CONTINUE</a> -->
    </div>
         
</div><!-- End Section Gray-->
<style>
    
    .div3{
        width: 100%;
        height: px;
    }
    .slider{
        width: 100%;
        margin: auto;
        overflow: hidden;
    }
    .slider ul{
        margin-bottom: auto;
        display: flex;
        padding:0;
        width: 500%;
        animation: cambio 20s infinite;
        animation-direction: alternate;
    }
    .slider li{
        width: 100%;
        list-style: none;
    }
    .slider img{
        width: 100%;
        height: 100%;
    }
    @keyframes cambio{
        0%{ margin-left: 0; }
        20%{ margin-left: 0; }

        25%{ margin-left: -100%; }
        45%{ margin-left: -100%; }

        50%{ margin-left: -200%; }
        70%{ margin-left: -200%; }

        75%{ margin-left: -300%; }
        100%{ margin-left: -300%; }
    }

     /* Global Button Styles */
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        border-radius: 0;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }
    a.animated-button:link:after, a.animated-button:visited:after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 50%;
        z-index: -1;
        -webkit-transition: all 0.75s ease 0s;
        -moz-transition: all 0.75s ease 0s;
        -o-transition: all 0.75s ease 0s;
        transition: all 0.75s ease 0s;
    }
    a.animated-button:link:hover, a.animated-button:visited:hover {
        color: #FFF;
        text-shadow: none;
    }
    a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
        height: 50%;
    }
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        border-radius: 0;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

a.animated-button.thar-three {
    color: #fff;
    cursor: pointer;
    display: block;
    position: relative;
    border: 2px solid #F7CA18;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}
a.animated-button.thar-three:hover {
    color: #000 !important;
    background-color: transparent;
    text-shadow: nthree;
}
a.animated-button.thar-three:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
}
a.animated-button.thar-three:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: #F7CA18;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}

  
    /* Global Button Styles */
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        border-radius: 0;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }
    a.animated-button:link:after, a.animated-button:visited:after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 50%;
        z-index: -1;
        -webkit-transition: all 0.75s ease 0s;
        -moz-transition: all 0.75s ease 0s;
        -o-transition: all 0.75s ease 0s;
        transition: all 0.75s ease 0s;
    }
    a.animated-button:link:hover, a.animated-button:visited:hover {
        color: #FFF;
        text-shadow: none;
    }
    a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
        height: 50%;
    }
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        border-radius: 0;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

    a.animated-button.thar-three {
        margin-top: -12%;
        font-size: 100%;
        width: -1%;
        height: 3%;
        margin-left: 10%;
        margin-bottom: 7%;
        background-color: white;
        color: black;
        cursor: pointer;
        display: block;
        position: absolute;
        border: 2px solid black;
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    0s;
    }
    a.animated-button.thar-three:hover {
        color: #000 !important;
        background-color: transparent;
        text-shadow: nthree;
    }
    a.animated-button.thar-three:hover:before {
        left: 0%;
        right: auto;
        width: 100%;
    }
    a.animated-button.thar-three:before {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 0px;
        z-index: -1;
        content: '';
        color: #000 !important;
        background: #C4AE9D; 
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);0s;
    }

</style>
   

<div class="div3">
    <div class="title_div3">
        <h3>FOLLOW US ALONG</h3>
        <p>@SHOP_ETRE</p>
    </div>
    <div class="img_insta row">
        <img class="col-lg-3 col-md-6 col-sm-12" src="{{path}}img/products_etre/product_insta1.png">
        <img class="col-lg-3 col-md-6 col-sm-12" src="{{path}}img/products_etre/product_insta2.png">
        <img class="col-lg-3 col-md-6 col-sm-12" src="{{path}}img/products_etre/product_insta1.png">
        <img class="col-lg-3 col-md-6 col-sm-12" src="{{path}}img/products_etre/product_insta2.png">
    </div>
    <div class="img_insta row">
        <img class="col-lg-3 col-md-6 col-sm-12" src="{{path}}img/products_etre/product_insta1.png">
        <img class="col-lg-3 col-md-6 col-sm-12" src="{{path}}img/products_etre/product_insta2.png">
        <img class="col-lg-3 col-md-6 col-sm-12" src="{{path}}img/products_etre/product_insta1.png">
        <img class="col-lg-3 col-md-6 col-sm-12" src="{{path}}img/products_etre/product_insta2.png">
    </div>
</div>
<style>
    .div3{
        width: 100%;
        height: 100%;
        margin-bottom: 3%;
    }
    .title_div3>h3{
        margin-top: 6%;
        text-align: center;
        font-size: 100%;
    }
    .title_div3>p{
        font-size: 100%;
        text-align: center;
        margin-bottom: 3%;
    }
    .img_insta{
        margin: 0px;
        display: flex;
        width: 100%;
        width: 100%;
    }
    .img_insta>img{
        width: 100%;
        border:0px;
    }
    .col-lg-3 {
        position: relative;
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
    .col-md-6{
        position: relative;
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
    .col-sm-12{
        position: relative;
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
</style>