<!--=====================================
Header Content 
<a href="#" target="central"><h6>SHOP</h6></a>  
======================================-->

<header id ="fondo" class="header header--standard header--market-place-4" data-sticky="true" >

     <div class="header__content" id="f2">

        <div class="container" id="f2">

            <div class="nav" id="f3">


                    <div class="menu--product-categories">
                        
                        
                             <h6 class="menu__toggle">SHOP</h6>
                        

                        <div class="menu__content">
                            <ul class="menu--dropdown">
                           
                                <li 
                                *ngFor="let category of categories; let i = index; let lastIndex = last"
                                class="menu-item-has-children has-mega-menu">
                                    
                                    <a routerLink="products/{{category.url}}" target="_top">
                                        <i class="{{category.icon}}"></i> {{category.name}}
                                    </a>

                                    <div class="mega-menu">

                                        <div 
                                        *ngFor="let title of arrayTitleList[i]"
                                        class="mega-menu__column">

                                            <h4>{{title}}
                                                <span class="sub-toggle"></span>
                                            </h4>

                                            <ul class="mega-menu__list" [attr.titleList]="title">
                                              
                                            </ul>

                                        </div>
                                        
                                    </div>  

                                {{ lastIndex ? callback() : "" }}
                                    
                                </li>
                             
                            </ul>

                        </div>

                    </div><!-- End menu-->



                             <h6 class="menu__toggle">BUILD</h6>

                

                        <a href="#"><h6 class="menu__toggle">OUR STORY</h6></a>

                            <style>

                                .nav {

                                float: left;

                                }

                                h6{
                                    size: 14px;  
                                    margin-top: 20px;
                                    margin-left: 11px;
                                    margin-right: 27px;
                                }

                            </style>
            </div> 

            <!--=====================================
            Logo
            ======================================-->   

            <div align="center">

                <a routerLink="/">
                    <img src="{{path}}img/template/logo.png" align="center">
                </a>

            </div> 


            <div class="header__content-right">

                <div class="header__actions">

                    <!--=====================================
                    Buscar
                    ======================================-->

                        <div 
                        class="ps-block--user-header">
                            <div class="ps-block__left">

                                <form class="ps-form--quick-search"> 
                                    
                                    <input 
                                    (keyup.enter)="goSearch(search.value)"
                                    #search
                                    class="form-control" 
                                    type="text" 
                                    placeholder="I'm shopping">

                                    <button  type="button" 
                                    (click)="goSearch(search.value)"
                                    > <i class="icon-magnifier"></i>
                                    </button>

                                </form>
                                
                            </div>
                        </div>

                    <!--=====================================
                    Cart
                    ======================================-->

                       <div class="ps-cart--mini">

                            <a class="header__extra" routerLink="checkout">
                                <i class="icon-bag2"></i><span><i>{{totalShoppingCart}}</i></span>
                            </a>

                            <div 
                            *ngIf="shoppingCart.length > 0"
                            class="ps-cart__content">

                                <div class="ps-cart__items">

                                    <div 
                                    *ngFor="let product of shoppingCart; let lastShopping = last"
                                    class="ps-product--cart-mobile">

                                        <div class="ps-product__thumbnail">
                                            <a href="product/{{product.url}}">
                                                <img src="{{path}}img/products/{{product.category}}/{{product.image}}" >
                                            </a>
                                        </div>

                                        <div class="ps-product__content">
                                            <a class="ps-product__remove" style="cursor:pointer" (click)="removeProduct(product.url, product.listDetails)">
                                                <i class="icon-cross"></i>
                                            </a>
                                            <a href="product/{{product.url}}">{{product.name}}</a>

                                            <div [innerHTML]="product.details"></div>                                        
                                            <small class="ps-product text-left p-0 m-0">
                                                
                                                Quantity:
                                                <span class="qShoppingHeader">{{product.quantity}}</span> 
                                                x Shipping: $
                                                <span class="sShoppingHeader">{{product.shipping}}</span> 
                                                + 
                                                <span class="pShoppingHeader" [innerHTML]="product.price"></span>

                                            </small>
                                        </div>

                                    {{ lastShopping ? callbackShopping() : ""}}

                                    </div>
   

                                </div>

                                <div class="ps-cart__footer">

                                    <div [innerHTML]="subTotal"></div>
                                    <figure>
                                        <a class="ps-btn" routerLink="shopping-cart">View Cart</a>
                                        <a class="ps-btn" routerLink="checkout">Checkout</a>
                                    </figure>

                                </div>

                            </div>

                        </div>



                </div> 

            </div>       

        </div>  

    </div>  

    <style>
      header{
         border-bottom: solid #0e0e0f;
      }
    </style>
             

</header>
                   

   
    