<div class="ps-breadcrumb contr-gt" style="margin-top:12%; ">

    <!-- Barra de números  --> 
    <div class="container"  style="margin-bottom: 20%;">
        <div style="margin-bottom: 4%;">
            <ul class="progressbar">
                <a class="active step1" >Step 1</a>
                <a (click)="HyperLink2()">Step 2</a>
                <a (click)="HyperLink3()">Step 3</a>
                <a  >Done!</a>
            </ul>
        </div>
    </div>

    <!--=====================================
    Preload  
    ======================================-->
    <div class="container" 
    *ngIf="!preload"> 

	    <!-- Texto selección -->
        <div class="step-qcd" style="text-align: center; 
        justify-content: center; margin-bottom: 9%;">

            <h3 style="font-family:'Libre Franklin', sans-serif; font-size: 27px;
            font-weight: 450; color: #6a6a6a;" class="parrafo">
                Step 1 of 3
            </h3>

            <p style="font-family:'Libre Franklin', sans-serif; font-size: 24px;
            font-weight: 450;"> 
                CHOOSE YOUR BOX
            </p>

        </div>
    	
       
        <!-- Imáges de cajas -->
        <div class="images row"> 

            <div class="div-imagen col-lg-6 col-md-6 col-sm-12" (click)="fncBorder(0)">

            	<div class="divtexcontainer">
       			   <!-- <p style="font-size: 100%;">Texto prueba 1</p> -->
      			</div>

     		    <img
                 style="width: ;"
                 id="img_izquierda"
        	     (click)="selectBox(0)"
     		     class="desvanecer" src="{{urlsImgs[0]}}">

            </div>

    	    <div class="div-imagen col-lg-6 col-md-6 col-sm-12" (click)="fncBorder(1)">

    	    	<div class="divtexcontainer">
				   <!-- <p style="font-size: 100%;">Texto prueba 2</p> -->
    			</div>

			    <img
                style=""
                 id="img_derecha"
                 (click)="selectBox(1)"
			     class="desvanecer" src="{{urlsImgs[1]}}">
                 <!-- src="{{path}}img/products_etre/product2.jpg" -->
    	   </div>

        </div>

        <!-- Botón continuar -->
    	<div class="imagecontainer" style="margin-bottom: 15%;">

    	    <a 
            style="font-family:'Libre Franklin', sans-serif; 
            font-weight: 800;"
        	[ngModel]="boxes"
        	(click)="fncNoCaja()"
        	class="btn btn-sm animated-button thar-three">
                CONTINUE
            </a>

        </div> 

    </div>


    <!--=====================================
    Preload
    ======================================-->
    <!-- <div
    *ngIf="preload"
    class="d-flex justify-content-center">
        
        <div class="spinner-border text-muted my-5"></div>

    </div> -->

</div>

<style>

    @media screen and  (max-width: 360px) {

      .contr-gt {
        margin-top: 28%  !important;
      }

      .step-qcd {
        margin-bottom: 19% !important;
        margin-top: 56% !important;
      }
      .imagecontainer {
        margin-bottom: 42% !important;
      } 
    }

    @media screen and  (max-width: 411px) {

      .contr-gt {
        margin-top: 28%  !important;
      }

      .step-qcd {
        margin-bottom: 19% !important;
        margin-top: 56% !important;
      }
      .imagecontainer {
        margin-bottom: 42% !important;
      } 
    }

    @media screen and  (max-width: 414px) {

      .contr-gt {
        margin-top: 28%  !important;
      }

      .step-qcd {
        margin-bottom: 19% !important;
        margin-top: 56% !important;
      }
      .imagecontainer {
        margin-bottom: 42% !important;
      } 
    }  

    .contrainer{
        width: 100%;  
        display:block;  
    } 
    .progressbar{  
        counter-reset: step;
    }
    .progressbar a{
        list-style-type: none; 
        float: left;  
        width: 24.33%;
        position: relative;
        text-align: center;
        font-family:'Libre Franklin', sans-serif; 
        font-weight: 450;
        font-size: 20px; 
    }
    .progressbar a:before{
        content: counter(step);
        counter-increment:step;
        width: 30px;
        height: 30px;
        line-height: 27px;
        border: 1px solid #ddd;
        display: block;
        text-align: center;
        margin: 0 auto 25px auto;
        border-radius: 50px;
        background-color: white;
    }    
    .progressbar a:after{
        content: ''; 
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #ddd;
        top: 15px;
        left: -50%;
        z-index: -1;
    }
    .progressbar a:first-child:after{
        content: none;
    }

    .progressbar a.active{
        display: block;
        color:  #6a6a6a;
    }
    .progressbar a.active:before{
        background-color:  #6a6a6a;
        border-color: #6a6a6a;
    }
   /* .progressbar a.active + a:after{
        background-color:  #6a6a6a;
    }*/
    /*Clase súper active */
    .progressbar a.superActive{
        display: block;
        color: #6a6a6a;
    }
    .progressbar a.superActive:before{
        background-color: #6a6a6a;
        border-color: #6a6a6a;
    }
    .progressbar a.superActive + a:after{
        background-color:  #6a6a6a;
    }
    
    /*Imáges*/ 
    
    .imagecontainer{
        display: flex;
        justify-content:center;
        width: 100%
    }

    #transition-image{
        position: absolute;
        top: 0px:
        left:0px;
        opacity: 0;
        transition: opacity 0.5s ease;

    }
    #transition-image:hover{
        opacity: 1;
    }

     /* Global Button Styles */
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px; 
        color: #fff;
        font-size:14px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        border-radius: 0;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }
    a.animated-button:link:after, a.animated-button:visited:after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 50%;
        z-index: -1;
        -webkit-transition: all 0.75s ease 0s;
        -moz-transition: all 0.75s ease 0s;
        -o-transition: all 0.75s ease 0s;
        transition: all 0.75s ease 0s;
    }
    a.animated-button:link:hover, a.animated-button:visited:hover {
        color: #FFF;
        text-shadow: none;
    }
    a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
        height: 50%;
    }
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        border-radius: 0;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

    a.animated-button.thar-three {
        color: #fff;
        cursor: pointer;
        display: block;
        position: relative;
        border: 2px solid #F7CA18;
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    0s;
    }
    a.animated-button.thar-three:hover {
        color: #000 !important;
        background-color: transparent;
        text-shadow: nthree;
    }
    a.animated-button.thar-three:hover:before {
        left: 0%;
        right: auto;
        width: 100%;
    }
    a.animated-button.thar-three:before {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 0px;
        z-index: -1;
        content: '';
        color: #000 !important;
        background: #F7CA18;
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    0s;
    }

  
    /* Global Button Styles */
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        border-radius: 0;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }
    a.animated-button:link:after, a.animated-button:visited:after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 50%;
        z-index: -1;
        -webkit-transition: all 0.75s ease 0s;
        -moz-transition: all 0.75s ease 0s;
        -o-transition: all 0.75s ease 0s;
        transition: all 0.75s ease 0s;
    }
    a.animated-button:link:hover, a.animated-button:visited:hover {
        color: #FFF;
        text-shadow: none;
    }
    a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
        height: 50%;
    }
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        border-radius: 0;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

    a.animated-button.thar-three {
        font-size: inherit;
        padding-left: 7%;
        padding-right: 7%;
        padding-top: 1%;
        padding-bottom: 1%;
        margin-top: 93px;
        font-size: 15px;
        font-weight: 20;
        background-color: white;
        color: black;
        cursor: pointer;
        display: block;
        position: absolute;
        border: 2px solid black;
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    0s;
    }
    a.animated-button.thar-three:hover {
        /*color: #000 !important;*/
        color: white !important;
        background-color: transparent;
        text-shadow: nthree;
    }
    a.animated-button.thar-three:hover:before {
        left: 0%;
        right: auto;
        width: 100%;
    }
    a.animated-button.thar-three:before {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 0px;
        z-index: -1;
        content: '';
        color: #000 !important;
        background: #000000; 
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);0s;
    }

    .parrafo{
         margin-top:155px;
         font-size: 3.4rem;

    }

    .images{
        /*background-color: blue;*/
        width: 100%;
        display: flex;
        /*justify-content: center;*/
    }

    .img-contrainer{
        background-color: black;
        height: 395px;
        width: 500px;
        display: flex;
        position: relative;
    }
    
    .img-contrainer img{
        width: 100%;
        height: 100%;
        display: flex;
    }




    .img-contrainer_izquierda{
        padding: 10px;
        background-color: green; 
        position: relative;
        
    }

    .img-contrainer_derecha{
        padding: 10px;
        background-color: yellow;
        position: relative;
    }

    .img-contrainer_derecha img{
        width: 100%;
        object-fit: cover;
    }

    .img-contrainer_izquierda img{
        width: 100%;
        object-fit: cover;
    }

    #aks:hover {
        background: url('http://dummyimage.com/100x100/eb00eb/fff');
    }
    /*Esto es lo bueno*/

    .div-imagen {
      /*padding: 0px 20px;*/
      display:inline-block;
      position:relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border: black;
      margin-bottom: 6%
      /*margin: 1%;*/
    }

    /*.div-imagen:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.75);
        border: solid 2px #36c069;
        z-index: 100;
        opacity: 0;
        -webkit-transition: opacity 0.25s ease-in-out;
        -moz-transition: opacity 0.25s ease-in-out;
        -ms-transition: opacity 0.25s ease-in-out;
        -o-transition: opacity 0.25s ease-in-out;
        transition: opacity 0.25s ease-in-out;
    }*/

    .div-imagen > div {
      position:absolute;
      top:0;
      left:0;
      z-index:-1;
      padding:10px;
      margin:1%;

    }

    .desvanecer:hover {
      opacity: 0.5;
      -webkit-transition: opacity 500ms;
      -moz-transition: opacity 500ms;
      -o-transition: opacity 500ms;
      -ms-transition: opacity 500ms;
      transition: opacity 500ms;
    }
    .divtexcontainer{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    p{  
        text-align:center;
        color: black;
        font-size: 40px;
        margin: auto;
    }
    .row{
        padding: 0px;
        margin: 0px;
    }

</style>