
<!--=====================================
Preload
======================================-->
<div
*ngIf="preload"
class="d-flex justify-content-center">
    
    <div class="spinner-border text-muted my-5"></div>

</div>



<!--=====================================
My Shopping
======================================-->

<app-account-my-shopping
*ngIf="!preload && accountUrl == 'my-shopping'"
[childItem]="username"
></app-account-my-shopping>

<!--=====================================
New Store
======================================-->
<app-account-new-store
*ngIf="!preload && accountUrl == 'new-store'"
[childItem]="username">   
</app-account-new-store>

<!--=====================================
My Store
======================================-->
<app-account-my-store
*ngIf="!preload && accountUrl == 'my-store'"
[childItem]="username">   
</app-account-my-store>

<!--=====================================
My Sales
======================================-->
<div
*ngIf="store.length > 0">
<app-account-my-sales
*ngIf="!preload && accountUrl == 'my-sales'"
[childItem]="store[0].store"
></app-account-my-sales>
</div>

<!--=====================================
Orders
======================================-->

<div
*ngIf="store.length > 0">
<app-account-orders
*ngIf="!preload && accountUrl == 'orders'"
[childItem]="store[0].store"
></app-account-orders>
</div>

<!--=====================================
Disputes
======================================-->
<div
*ngIf="store.length > 0">
<app-account-disputes
*ngIf="!preload && accountUrl == 'disputes'"
[childItem]="store[0].store"
></app-account-disputes>
</div>

<!--=====================================
Messages
======================================-->
<div
*ngIf="store.length > 0">
<app-account-messages
*ngIf="!preload && accountUrl == 'messages'"
[childItem]="store[0].store"
></app-account-messages>
</div>

<!--=====================================
MODAL PARA ESCRIBIR LA NUEVA CONTRASEÑA
======================================-->

<div class="modal" id="newPassword">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">New Password</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        
        <form class="ps-form--account ps-tab-root needs-validation" novalidate>
            
            <div class="form-group">
                
                <input 
                type="password" 
                class="form-control" 
                placeholder="Input your new password"
                name="password"
                #password
                minlength="4"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,}"  
                data-toggle="tooltip"
                title="Enter your password with at least 4 characters and must include uppercase, lowercase letters and numbers"
                (change)="validate(password)"
                required>

                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill in this field correctly.</div>

            </div>

            <div class="form-group submtit">

                <button 
                type="button"
                (click)="newPassword(password.value)"
                class="ps-btn ps-btn--fullwidth">Submit</button>

            </div>

        </form>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


