 <!--=====================================
Home Features 
======================================-->  

<div>

    <p class="div2" style="color:#e4ecf0">HOW IT WORKS</p>

    <style>

        .div2 {

          background-color: #0e0e0f;         
          left: 35%;
          position: relative;
          top: -23px;
          width: 406px;
          text-align: center;
          border:0px 
          dotted #000; 
          padding:9px;

         }
        

    </style>
    
</div>

<div class="ps-site-features">

    <div class="container">

        <div class="ps-block--site-features ps-block--site-features-2">

            <div class="ps-block__item">
                <div class=""></div>
                <div class="">
                    <h4>N e e d  a  g i f t ?</h4>
                    <p><i>Any reason, We're here to<br>
                      help keep things<br>
                      thoughtful.</i>
                    </p>
                </div>
            </div>

            <div class="ps-block__item">
                <div class=""></div>
                <div class="">
                    <h4>K e e p   i t   p e r s o n a l</h4>
                    <p><i>We curate the best products so you<br>
                       can create the most personal gifts.</i>
                    </p>
                </div>
            </div>

            <div class="ps-block__item">
                <div class=""></div>
                <div class="">
                    <h4>W e ' l l  h a n d l e  t h e  r e s t</h4>
                    <p><i>We take your masterpiece, pack it to per-<br>
                    fection, and send it straight to their door-<br>
                    ste. They love it -and you!</i>
                    </p>
                </div>
            </div>

        </div>

    </div>

</div><!-- End Home Features-->
