<!-- <app-call-to-action></app-call-to-action> -->
<app-product-breadcrumb></app-product-breadcrumb>

 <!--=====================================
Product Content
======================================--> 

<div class="ps-page--product">

    <div class="ps-container">

    	<!--=====================================
		Product Container
		======================================--> 

        <div class="ps-page__container">

        	<app-product-left></app-product-left>

        </div><!--  End Product Container -->

   	</div>

</div>
