<!--=====================================
Best Sale Items    
======================================--> 

<div 
*ngIf="!preload && !notFound">

    <div style="border-bottom:solid #dee2e6!important; margin: 3%;">

      <h3 style="margin-left: 3%; margin-bottom: 4%;">
        Best Sale Items
      </h3>

    </div> 

    <!-- Productos -->
    <div class="divimageness row">

        <!--=====================================
        Productos col-md-12 col-sm-12
        ======================================--> 
 
        <div
        *ngFor="let product of bestSalesItem; let i = index; let lastIndex = last"
        class="ps-product col-lg-3 col-md-4 col-sm-6">
            <div class="ps-product__thumbnail">
                <a routerLink="/product/{{product.url}}">
                    <img 
                    style="width: 100%; height: 278px;" 
                     type="button"  data-toggle="modal" 
                     data-target=".bd-example-modal-xl"
                     src="{{product.image}}" alt="">
                      <!-- (click)="detallesProducto(product)" -->
                </a>
                <div [innerHTML]="price[i][1]"></div>
                
                <ul class="ps-product__actions">
                    <li>
                        <a style="cursor:pointer">
                            <i class="icon-heart"></i>
                        </a>
                    </li> 
                </ul>

                <div class="ps-product__container">

                    <div class="ps-product__content">

                      <a class="ps-product__title" routerLink="/product/{{product.url}}">
                      {{product.name}}</a>

                      
                        <div [innerHTML]="price[i][0]"></div>

                    </div>

                    <div class="ps-product__content hover">

                      <a class="ps-product__title" routerLink="/product/{{product.url}}">
                      {{product.name}}</a>

                        <div [innerHTML]="price[i][0]"></div>

                    </div>

                </div>
               
                <!-- Boton para agregar productos a la caja -->
                 <div class="texto">
                    <a style="cursor:pointer" (click)="addShoppingCart(product.url, 1, [])"  data-toggle="tooltip" data-placement="top" title="Add to Cart">
                        
                        Add to cart
                    </a>
                  </div>

            </div>
         {{ lastIndex ? callback() : ""}}

        </div><!-- End Product --> 
      
    </div>

  

</div><!-- End Best Sales Items -->

<!--=====================================
Preload
======================================-->

<div 
*ngIf="preload"
class="d-flex justify-content-center d-lg-none">
    
    <div class="spinner-border text-muted my-5"></div>

</div>

<style>
  .divimageness{
     /* border-top:solid #dee2e6!important;*/
      margin: 2%;
      margin-top: 5%;
      display: flex;
  }
  .texto{
            position: absolute;
            width: 100%;
            height: 100%;
            background: transparent;
            /*bottom: - 100%;*/
            padding: 10px 20px;
        }
        .texto a{
            border: 1px solid black !important;
            background: white;
            display: flow-root;
            text-align: center;
            color: black;
            font-size: 20px;
            height: px;
        }    
        .ps-product:hover .texto{
            bottom: -50%;
        }
        .ps-product__thumbnail:hover .texto {
          bottom: -70%;

          background-color:ps-form--quick-search button;
          color: #ffffff;
        }
</style>