<!--=====================================
Best Sale Items 
 dsxgfgdsh
======================================--> 

<div 
*ngIf="!cargando"
class="ps-block--shop-features">

    <div class="ps-block__content">

          <div  class="owl-slider" id="recommended1" data-owl-auto="true" data-owl-loop="true" data-owl-speed="10000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="6" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-item-xl="6" data-owl-duration="1000" data-owl-mousedrag="on">

        <div 
        *ngFor="let product of bestSalesItem; let i = index; let lastIndex = last"
        class="ps-product">

          <div class="ps-product__thumbnail">

            <img src="{{path}}/img/stores/default/imagenprueba.jpg">



            <a class="ps-product__title" routerLink="/product/{{product.url}}">
            {{product.name}}</a>

        
            <div [innerHTML]="price[i][0]"></div>

        </div>


        <div class="ps-product__content hover">

            <a class="ps-product__title" routerLink="/product/{{product.url}}">
            {{product.name}}</a>

            <div [innerHTML]="price[i][0]"></div>

        </div>


        </div>

     {{ lastIndex ? callback() : ""}}  

    </div>

    
    </div>

</div><!-- End Best Sales Items -->

<style>

            img{

                  background-color: #fff;
                  border-right: 200px solid #fff;
                  border-spacing: 18px;
                  border-top: 0px solid #fff ;
                  margin-top: 37px;
                  margin-bottom: 91px;

                 }



    </style>

<!--=====================================
Preload
======================================-->

<div 
*ngIf="cargando"
class="d-flex justify-content-center">
    <div class="spinner-border text-muted my-5"></div>
</div>

