<!--=====================================
Best Sale Items    
======================================--> 

<div  
*ngIf="!preload && !notFound">

  <div class="navImage">
    <ul>
      <li>
        <img  src="{{img_slider}}" alt="">
      </li>
      <li >
        <img src="{{img_slider2}}" alt="">
      </li>
      <li >
        <img src="{{img_slider3}}" alt="">
      </li>
      <li >
        <img src="{{img_slider4}}" alt="">
      </li>
      <li >
        <img src="{{img_slider5}}" alt="">
      </li>

    </ul>      
  </div>

  <!--=====================================
  Productos col-md-12 col-sm-12
  ======================================--> 
  <div class="container">

    <div class="divimageness row">  

      <div
      *ngFor="let product of bestSalesItem; let i = index; let lastIndex = last"
      class="col-lg-4 col-md-4 col-sm-6">

        <div class="ps-product__thumbnail" id="contenedorTow">
          
          <a style=" position: relative;
          display: inline-block;
          text-align: center;"
          routerLink="/product/{{product.url}}">
            <img 
            style="width: 247px; height: 247px;"
            type="button"  data-toggle="modal" 
            data-target=".bd-example-modal-xl"
            src="{{product.image}}" alt="">

            <img id="imgGalleryTow" 
            style="width: 247px; height: 247px;position: 
            absolute;margin-top: -100%;" 
            type="button"  data-toggle="modal" 
            data-target=".bd-example-modal-xl"
            src="{{product.image2}}" alt="">

              <!-- (click)="detallesProducto(product)" -->

              <style>
                #imgGalleryTow{
                  display: none;
                }
                #contenedorTow:hover #imgGalleryTow{
                  display: block;
                }
              </style>
          </a>
          
          <!--  Lista de deseos  -->
          <div id="heartTow">

            <a title="Add to Whishlist">
    
              <i  
              class="icon-heart"
              style="cursor: pointer;"></i>

            </a>    

          </div>

          <!-- Boton para agregar productos al carrito -->
          <div class="texto" id="botonTow">

            <a style="cursor:pointer" 
            (click)="addShoppingCart(product,product.url, 1, [])" 
             data-toggle="tooltip" data-placement="top" title="Add to Cart">
                
                Add to cart
            </a>

          </div>

          <!-- Información del producto -->
          <div>

            <a title="Add to Whishlist"
            routerLink="/product/{{product.url}}">
              {{product.name}}
            </a>
            
            <div [innerHTML]="price[i][0]"></div>
            
          </div>
         
        </div>
        {{ lastIndex ? callback() : ""}}

      </div><!-- End Product --> 
      
    </div>

  </div>  
  

</div><!-- End Best Sales Items -->

<!--=====================================
Preload
======================================-->

<div 
*ngIf="preload"
class="d-flex justify-content-center d-lg-none">
    
    <div class="spinner-border text-muted my-5"></div>

</div>

<style>
  .divimageness{
     /* border-top:solid #dee2e6!important;*/
      margin: 2%;
      margin-top: 5%;
      display: flex;
  }
  .texto{
      position: absolute;
      width: 100%;
      height: 100%;
      background: transparent;
      /*bottom: - 100%;*/
      /*padding: 10px 20px;*/
  }
  .texto a{
      border: 1px solid black !important;
      background: white;
      width: 247px;
      height: 40px;
      display: flow-root;
      text-align: center;
      color: black;
      font-size: 20px;
      height: px;
      transition: 4s;
      padding:2%;
  }    
  .ps-product:hover .texto{
    bottom: -50%;
  }
  .ps-product__thumbnail:hover .texto {
    bottom: -65%;

    background-color:ps-form--quick-search button;
    color: #ffffff;
  }

  .navImage  {
   /*background-color: #490D40;*/
   /*background: url("https://firebasestorage.googleapis.com/v0/b/market-place-31cf1.appspot.com/o/Images%2FGWD9nWQzdS23k3hr.png?alt=media&token=2daac6db-45f8-46a0-ac05-7a34680a14e1") no-repeat center center;*/
   width: 100%;
   background-size: cover;
   height: 685px;
   transition: .5s;
   margin-top: -85px;
   background-attachment: fixed;
   background-repeat: no-repeat;
   margin-bottom: 16%;
  }

  .slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
  }

  .navImage ul {
    display: flex;
    padding: 0;
    width: 500%;
    margin-bottom: auto;
    animation: cambio 20s infinite alternate linear;
    animation-direction: alternate;
  }

  .navImage li {
    width: 100%;
    list-style: none;
  }

  .navImage img {
   width: 100%;
   height: 800px;
   transition: .5s;
  }

  @keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
  }
  #heartTow{
    display: none;
    margin-top:-243px;
    position:absolute;
    margin-left: 3%;
  }
  #contenedorTow:hover #heartTow{
    display: block;
  }

  #botonTow{
    display: none;
  }
  #contenedorTow:hover #botonTow{
    display: block;
  }
</style>