<div class="ps-breadcrumb">

  <!--=====================================
  Slider    
  ======================================-->
  <div style="margin-top: -3%;"  id="carouselExampleControlsT" class="carousel slide" data-ride="carousel">
   
    <div class="carousel-inner">

      <div *ngFor="let slidertCant of img_slider; let i = index;let isFirst = first"
      class="carousel-item "
       [class]="{'active': isFirst}" >

        <img alt="First slide" class="d-block w-100 img-faqs-rtd" src="{{img_slider[i]}}">

        <div class="carousel-caption d-none d-md-block">
          <h3 class="animated bounceInRight" 
          style="animation-delay: 1s;color: {{coloTextoSlider[i]}};
          font-size:24px; font-weight: 450; font-family:'Libre Franklin', sans-serif;">
            {{textoSlider[i]}}
          </h3>
          <p class="animated bounceInRight" 
          style=" animation-delay: 3s;color:{{colorTextoBtn[i]}}; background:{{coloBtn[i]}};
          display: {{vista}}; font-family: 'Libre Franklin', sans-serif;">
            <a href="{{linkBtn[i]}}">{{textoBtn[i]}}</a>
          </p>
        </div>

      </div>

    </div>

   <a class="carousel-control-prev" href="#carouselExampleControlsT" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControlsT" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>	

    
  <!-- Contenido -->
  <div class="contenido">
       
    <h3 style="font-family:'Libre Franklin', sans-serif; 
    font-size:24px; font-weight: 450; color: black;">How it woeks?</h3>
 
      <p class="mostrar" style="font-family:'Libre Franklin', sans-serif; 
        font-weight: 20; font-size: 20px; color: black;">
	       	Need a gift? Select your giftbox and choose from a range of gifts for all tastes and occasions.
  			Keep it personal. We curate the best products so you can create the most personal gifts.
  			We ́ll handle the rest. We take your masterpiece, pack it to perfection, and send it straight to
  			their doorstep.
  		</p>

  		<h3 style="font-family:'Libre Franklin', sans-serif; 
      font-size:24px; font-weight: 450; color:black;">SHIPPING</h3>


       
      <!-- Pregunta y resúesta  -->
      <div *ngFor="let pregunta of questions;let lastIndex = last, let i = index">

        <div style="display:flex;">
          <i  class="fas fa-angle-right" (click)="fncVisibility(i)" style="cursor: pointer;margin-top: 4.5%;
          margin-right: 1%;"></i>

  	    	<p class="mostrar" 
          style="font-family:'Libre Franklin', sans-serif; 
          font-weight: 20; font-size: 20px;color:black;">
  	    		{{pregunta.question}} 

  	    	</p>
        </div>  

	    	<div *ngIf="visibility_1[i]">
					<p class="respuesta" 
          style="font-family:'Libre Franklin', sans-serif; 
          font-weight: 20; font-size: 20px;color:black;">
					{{pregunta.answer}}
						<!-- At this time, we only ship within Mexico. -->
            <a><i class="fas fa-chevron-up" style="color:black;cursor: pointer;"
               href="javascript:void(0);" 
              (click)="fncVisibility(i)"></i></a>

			    </p>
				</div>

      </div>

  </div>
  
</div>	

<style>

  @media screen and  (max-width: 360px) {
    .img-faqs-rtd {
      height: auto !important;
    } 
    .carousel-item {
      height: auto !important;
    }   
  }
  @media screen and  (max-width: 411px) {
    .img-faqs-rtd {
      height: auto !important;
    } 
    .carousel-item {
      height: auto !important;
    }   
  }
  @media screen and  (max-width: 414px) {
    .img-faqs-rtd {
      height: auto !important;
    } 
    .carousel-item {
      height: auto !important;
    }   
  }
  .navImage  {
   /*background-color: #490D40;*/
   /*background: url("https://firebasestorage.googleapis.com/v0/b/market-place-31cf1.appspot.com/o/Images%2FGWD9nWQzdS23k3hr.png?alt=media&token=2daac6db-45f8-46a0-ac05-7a34680a14e1") no-repeat center center;*/
   width: 100%;
   background-size: cover;
   height: 685px;
    object-fit: cover;
    transition: .5s;
   margin-top: -105px;
   background-attachment: fixed;
   background-repeat: no-repeat;
   
   .heading {
      color: white;
      text-align: center;
      padding-top: 300px;
   }

  }


  .slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
  }

  .navImage ul {
    display: flex;
    padding: 0;
    width: 500%;
    margin-bottom: auto;
    animation: cambio 20s infinite alternate linear;
    animation-direction: alternate;
  }

  .navImage li {
    width: 100%;
    list-style: none;
  }

  .navImage img {
   width: 100%;
   height: 800px;
   object-fit: cover;
   transition: .5s;
  
  }

  @keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
  }
 .psd{
   	color: white;
    text-align: center;
   	margin-top: -27%;
   	margin-bottom: 29%
  }

 /*Contenido*/

 /*.premio, .triste{
	display: none;
}*/
  .iconp{
    width: 2%;
  }

  .contenido{
  	margin-top: 5%;
  	margin-left: 4%;
  	margin-right: 3%;
    height: px;
    margin-bottom: 2%;
  }
  .mostrar{
    font-size: 24px;
    margin-bottom: 4%;
    margin-top: 4%;
  }

  .respuesta{
    margin-left: 7%;
    font-size: 23px;
    /*display: none;*/
  }

  /*Carrusel*/
  .carousel-item {
    height: 100vh;
    min-height: 300px;
  }
  .carousel-caption {
    bottom: 40%;
  }
  .carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-family: merienda;
  }
  .carousel-caption p {
    width: 30%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    font-family: poppins;
  }
  .carousel-caption a {
    text-transform: uppercase;
    /*background: #262626;*/
    padding: 10px 30px;
    display: inline-block;
    /*color: #fff;*/
    margin-top: 3px;
  }
  .navbar-nav a {
    font-family: poppins;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #fff;
  }
  .navbar-nav {
    text-align: center;
  }
  .nav-link {
    padding: .2rem 1rem;
  }
  .nav-link.active, .nav-link:focus {
    color: #fff;
  }
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
  }
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
  }
  .w-100 {
    height: 100vh;
  }
  @media only screen and (max-width: 767px) {
    .navbar-nav.ml-auto {
      background: rgba(0, 0, 0, 0.5);
    }
    .navbar-nav a {
      font-size: 14px;
      font-weight: normal;
    }
  }  


</style>

 