<div class="ps-breadcrumb">

	<!-- Imágen de banner  --> 
	<div class="navImage">
	    <ul>
          <li>
            <img  src="{{img_slider}}" alt="">
          </li>
          <li >
            <img src="{{img_slider2}}" alt="">
          </li>
          <li >
            <img src="{{img_slider3}}" alt="">
          </li>
          <li >
            <img src="{{img_slider4}}" alt="">
          </li>
          <li >
            <img src="{{img_slider5}}" alt="">
          </li>

	    </ul>      
	</div>

    <h1 class="psd">Frequently asked questions</h1>

    <!-- Contenido -->
    <div class="contenido">
       
       <h3>How it woeks?</h3>
 
        <p class="mostrar">
	       	Need a gift? Select your giftbox and choose from a range of gifts for all tastes and occasions.
			Keep it personal. We curate the best products so you can create the most personal gifts.
			We ́ll handle the rest. We take your masterpiece, pack it to perfection, and send it straight to
			their doorstep.
		</p>

		<h3>SHIPPING</h3>


       
       <!-- Pregunta y resúesta  -->
       <div *ngFor="let pregunta of questions;let lastIndex = last, let i = index">
	    	<p class="mostrar">
	    		{{pregunta.question}} 
	    		<!-- Where do you ship? -->
	          <img class="iconp" src="{{path}}img/template/icon-abajo.png" (click)="fncVisibility(i)" >
	    	</p>
		    	<div *ngIf="visibility_1[i]">
					<p class="respuesta">
						{{pregunta.answer}}
						<!-- At this time, we only ship within Mexico. -->
			          <img src="{{path}}img/template/icon-arriba.png"  href="javascript:void(0);" (click)="fncVisibility(i)">
			        </p>
				</div>
        </div>

    </div>
  
</div>	

<style>
   .navImage  {
   /*background-color: #490D40;*/
   /*background: url("https://firebasestorage.googleapis.com/v0/b/market-place-31cf1.appspot.com/o/Images%2FGWD9nWQzdS23k3hr.png?alt=media&token=2daac6db-45f8-46a0-ac05-7a34680a14e1") no-repeat center center;*/
   width: 100%;
   background-size: cover;
   height: 685px;
    object-fit: cover;
    transition: .5s;
   margin-top: -105px;
   background-attachment: fixed;
   background-repeat: no-repeat;
   
   .heading {
      color: white;
      text-align: center;
      padding-top: 300px;
   }

  }


  .slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
  }

  .navImage ul {
    display: flex;
    padding: 0;
    width: 500%;
    margin-bottom: auto;
    animation: cambio 20s infinite alternate linear;
    animation-direction: alternate;
  }

  .navImage li {
    width: 100%;
    list-style: none;
  }

  .navImage img {
   width: 100%;
   height: 800px;
   object-fit: cover;
   transition: .5s;
  
  }

  @keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
  }
   .psd{
   	color: white;
    text-align: center;
   	margin-top: -27%;
   	margin-bottom: 29%
   }

   /*Contenido*/

   /*.premio, .triste{
		display: none;
	}*/
    .iconp{
        width: 2%;
    }

    .contenido{
    	margin-top: 36%: 
    	margin-left: 6%;
    	margin-right: 3%;
        height: px;
        margin-bottom: 2%;
    }
    .mostrar{
      font-size: 24px;
      margin-bottom: 4%;
      margin-top: 4%;
    }

    .respuesta{
      margin-left: 7%;
      font-size: 23px;
      /*display: none;*/
    }
    


</style>

 