<div class="ps-breadcrumb">
    
    <div class="contenedor">
        <!-- Título de la página -->
    	<div class="titulo"> 
   			<p class="titulo_p"><b>GET IN TOUCH</b></p>
    	</div>
       <!-- Texto complementario -->
    	<div class="contenido">
    		<p>
    			For questions, please reach out to shop-etre@gmail.com or<br>
	    		our phone number +528119177715. We're committed to excel-<br>
	    		lent customer service, so you'll hear back from us within 24<br>
	    		hours,<br>
	    		we promise!<br>
    		</p>
    	</div>
        <!-- Formulario ABOUT -->
        <div class="about">
        	<input class="input_er" type="" name="nombre" placeholder="Name">  
        	<input class="input_er" type="" name="email" placeholder="Email"> 
        	<input class="input_er" type="" name="phone_number" placeholder="Phone Number">   

        	<textarea class="divmessaget" name="Enter your card message here. 120 characters" rows="12" placeholder="Enter your card message here. 120 characters">         	
            </textarea>

            <div class="boon">
            	 <a class="botn_netx">SEND</a>
            </div>
	
        </div>	

    </div>

</div>
<style>
    .contenedor{
        height: px;
        margin-bottom: 2%;
    }
    .titulo{
       text-align: center;
    }

    .titulo_p {
	   font-size: 29px;	
    }
    .contenido{
      text-align: center;
    }
    .contenido > p{
      font-size: 20px;
      color: black;
    }
    .about{
    	width: 100%;
    }
    .input_er{
    	margin-right: 4%;
		margin-left: 4%;
        margin-top: 4%;
        color: #666;
		box-shadow: 0 0px 1px rgba(229, 103, 23, 0.075)inset, 0 0 2px;
		width: 92%;
		padding: 2%;
	    box-sizing: border-box;
    }

	.divmessaget{
		box-shadow: 0 0px 0px rgba(229, 103, 23, 0.075)inset, 0 0 0px;
		margin-top: 4%;
		width: 92%;
		margin-left: 4%;
	}
	.botn_netx{
 		background-color: black;
 		margin: px;
 		color: white;
 		width: 28%;
 		height: 50px;
 		justify-content: center;
	    align-items: center;
	    display: flex;
	    margin-left: 68%;
	    margin-top: 3%;
 	}   

</style>

