 <style>
	.contrainer{
        width: 100%;
        display:block;  
    }
    .progressbar{
        counter-reset: step;
    }
    .progressbar a{
        list-style-type: none;
        float: left;
        width: 24.33%;
        position: relative;
        text-align: center;
    }
    .progressbar a:before{
        content: counter(step);
        counter-increment:step;
        width: 30px;
        height: 30px;
        line-height: 27px;
        border: 1px solid #ddd;
        display: block;
        text-align: center;
        margin: 0 auto 100px auto;
        border-radius: 50px;
        background-color: white;
    }    
    .progressbar a:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #ddd;
        top: 15px;
        left: -50%;
        z-index: -1;
    }
    .progressbar a:first-child:after{
        content: none;
    }
    .progressbar a.active{
    	display: block;
        color: #C4AE9D;
    }
    .progressbar a.active:before{
    	background-color: #C4AE9D;
        border-color:#C4AE9D;
    }
    .progressbar a.active + a:after{
        background-color: #C4AE9D;
    }

    /*Clase súper active */
    .progressbar a.superActive{
        display: block;
        color: #b0714a;
    }
    .progressbar a.superActive:before{
        background-color: #b0714a;
        border-color:#b0714a;
    }
    .progressbar a.superActive + a:after{
        background-color: #b0714a;
    }

    /*Progressbar before*/

    .progressbar a.active{
    	display: block;
        color: #F0B27A;
    }
    .progressbar a.active:before{
    	background-color: #F0B27A;
        border-color:#F0B27A;
    }
    .progressbar a.active + a:after{
        background-color:#F0B27A;
    }
     /*Clase súper active */
    .progressbar a.superActive{
        display: block;
        color: #b0714a;
    }
    .progressbar a.superActive:before{
        background-color: #b0714a;
        border-color:#b0714a;
    }
    .progressbar a.superActive + a:after{
        background-color: #b0714a;
    }
    
   
    /*Caja de productos*/
    
    .imagecontainer{
    	display: flex;
    	justify-content:center;
    	width: 100%
    }

    .image-style{
    	width: 49%;
    	padding: 2px;
    } 

    .image-style img{

    }

    #transition-image{
    	position: absolute;
    	top: 0px:
    	left:0px;
    	opacity: 0;
    	transition: opacity 0.5s ease;

    }
    #transition-image:hover{
    	opacity: 1;
    }

     /* Global Button Styles */
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        border-radius: 0;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }
    a.animated-button:link:after, a.animated-button:visited:after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 50%;
        z-index: -1;
        -webkit-transition: all 0.75s ease 0s;
        -moz-transition: all 0.75s ease 0s;
        -o-transition: all 0.75s ease 0s;
        transition: all 0.75s ease 0s;
    }
    a.animated-button:link:hover, a.animated-button:visited:hover {
        color: #FFF;
        text-shadow: none;
    }
    a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
        height: 50%;
    }
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        border-radius: 0;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

a.animated-button.thar-three {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}
a.animated-button.thar-three:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nthree;
}
a.animated-button.thar-three:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
a.animated-button.thar-three:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}

  
    /* Global Button Styles */
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        border-radius: 0;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }
    a.animated-button:link:after, a.animated-button:visited:after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 50%;
        z-index: -1;
        -webkit-transition: all 0.75s ease 0s;
        -moz-transition: all 0.75s ease 0s;
        -o-transition: all 0.75s ease 0s;
        transition: all 0.75s ease 0s;
    }
    a.animated-button:link:hover, a.animated-button:visited:hover {
        color: #FFF;
        text-shadow: none;
    }
    a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
        height: 50%;
    }
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        border-radius: 0;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

	a.animated-button.thar-three {
		 margin-top: 3px;
	    background-color: white;
		color: black;
		cursor: pointer;
		display: block;
		position: absolute;
		border: 2px solid black;
		transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	0s;
	}
	a.animated-button.thar-three:hover {
		color: #000 !important;
		background-color: transparent;
		text-shadow: nthree;
	}
	a.animated-button.thar-three:hover:before {
		left: 0%;
		right: auto;
		width: 100%;
	}
	a.animated-button.thar-three:before {
		display: block;
		position: absolute;
		top: 0px;
		right: 0px;
		height: 100%;
		width: 0px;
		z-index: -1;
		content: '';
		color: #000 !important;
		background: #C4AE9D; 
		transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);0s;
	}

	.parrafo{
		 margin-top:155px;
		 font-size: 3.4rem;

	}

	.images{
   	display: flex;
    }

   	.pzp{
     margin-top: 2%;
    }

 
</style>

<div class="ps-breadcrumb">
    
    <!-- Barra de números -->
	<div class="contrainer">
		<div>
			<ul class="progressbar">
     			<a id="step1" routerLink="/selecction-caja">Step 1</a>
     			<a id="step2"  class="superActive">Step 2</a>
             	<a id="step3">Step 3</a>
    	        <a id="step4" >Done!</a>
			</ul>
			<br>
   	 	</div><br>
   	 </div><br>

     <!-- Descripción  -->
     <div class="imagecontainer"> <p class="parrafo"> Steof 2 of 3 </p><br></div>
   	 <div class="imagecontainer"> <h2><b>CHOOSE YOUR ITEMS</b><br><br><br></h2></div>

   	 <!-- Pintamos caja de producto  -->
   	 <div 
     
     class="div_bordes">

   	 	<div class="contrainer">

	   	 	<section class="border">
		        <div class="divSubMenus">

		        	
		            <a id="btn-abrir-popup" class="btn-abrir-popup" >SMALL</a>

		            <a>REGULAR</a>
		        </div>

		        <div class="middleDiv">
		            <div class="divForNewElements">
		              <div class="div_title_product">
		                <!-- Texto producto	 -->
		                <div class="divTitleForNewElements">
		                    <p>START SELECTING ITEMS TO FILL YOUR BOX</p>
		                </div>
		              </div> 
                       <!-- Imágenes -->
                      <div class="divert">
		                <div>
		                    <img class="divForNewImages" src="{{path}}img/products_etre/product.jpg" alt="">
                            <img  class="divForNewImages" src="{{path}}img/products_etre/product2.jpg">
		                    <!-- <img src="{{path}}img/products_etre/{{products.image}}" alt=""> -->
		                   <!--  <img class="divForNewImages" src="{{path}}img/products_etre/productcambio.jpg" alt=""> -->
                         
		                </div>
                      </div>  
		            </div>
                    <style>
                      .divert{
                        display: flex;
                      }
                    </style>

		            <div class="divForDescription">
		                    <div class="div_et">
			                	<p class="pzp"><b>BOX CONTENTS</b></p>
			                </div>
                            <style>
                                
                            </style>
		                
			                <div class="div_ed">
			                	<p>1 GIT PACKAGING & HAND WRAPPING   $7.00</p>
			                </div>
			                 <div class="div_er">
                                <p class="tex_cont"> Nombre</p>
			                	<!-- <p>CURRENT PACKAGINGI SMALL</p> -->
                            
			                </div>
                            <style >
                                .tex_cont{
                                    margin-top: 1%;
                                }
                            </style>

			                <div class="div_eu" >
                                <p>
                                    <b class="hfhg">BOX SUBTOTAL: $  
                                    
                                    </b>
                                </p> 
                                <style>
                                    .hfhg{
                                        display: flex;
                                    }
                                </style>  
			                	<!-- <p><b>BOX SUBTOTAL: $ 700</b></p> -->
                                
                                    <a 
                                    [routerLink]="['/selecction-paso-tres', id_to_box]"  
                                    class="botn_netx">COMPLETE BOX</a>
                                

			                </div>

			                
		            </div>

		        </div>

		        <div class="lastDiv" >
	                
		               <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="custom-select custom-select-sm form-control form-control-sm">
		               		<option value="Reason">Reason</option>
		               		<option value="25">25</option>
		               		<option value="50">50</option>
		               		<option value="100">100</option>
		               </select>
		               <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="custom-select custom-select-sm form-control form-control-sm">
			               	<option value="Color">Color</option>
			               	<option value="25">25</option>
			               	<option value="50">50</option>
			               	<option value="100">100</option>
		               </select>
		               <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="custom-select custom-select-sm form-control form-control-sm">
			               	<option value="10">Sort by Options</option>
			               	<option value="25">25</option>
			               	<option value="50">50</option>
			               	<option value="100">100</option>
		               </select>
		               <input class="search" type="section" name="Serch" placeholder="Search">
		        </div>

	        </section>
   	
   	    </div>
   	   
   	</div>



   	<!-- Productos -->

   	<div class="divimageness">

        <!--=====================================
        Producte
        ======================================--> 

        <div
         *ngFor="let products of getProduct; let lastIndex = last"
         class="ps-product">

            <div class="ps-product__thumbnail">

                <a href="product-default.html">
                    <img 
                     (click)="funcionPorducts(1)"
                    src="{{path}}img/products_etre/{{products.image}}" alt="">
                </a>

                <ul class="ps-product__actions">

                    <li>
                        <a>
                            <i (click)="funcionPorducts(id)" class="icon-heart"></i>
                        </a>

                    </li>  

                </ul>

                <!-- <a class="ps-product__actions__nuevo">ADD TO BOX</a> -->
                <p class="tex_product">{{products.name}}</p>
                <p class="tex_product">{{products.price}}</p>
             </div>
         {{ lastIndex ? callback() : ""}}

        </div><!-- End Product -->

   


        <style>
            .ps-product .ps-product__actionst {
              display: -webkit-box;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
                      flex-flow: row nowrap;
              -webkit-box-pack: justify;
                      justify-content: space-between;
              max-width: 200px;
              padding: 10px 0;
              background-color: #fff;
              -webkit-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
              transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
            }

            .ps-product .ps-product__actionst li {
              margin-right: 10px;
            }

            .ps-product .ps-product__actionst li a {
              display: -webkit-box;
              display: flex;
              -webkit-box-pack: center;
                      justify-content: center;
              -webkit-box-align: center;
                      align-items: center;
              width: 34px;
              height: 34px;
              border-radius: 50%;
            }

            .ps-product .ps-product__actionst li a:hover {
              background-color: #fcb800;
              color: #ffffff;
            }

            .ps-product .ps-product__actionst:last-child {
              margin-right: 0;
            }
            .ps-product {
            position: relative;
            padding: 0px 4px 0;
            border: 1px solid transparent;
            border-bottom: none;
            margin-left: 0%;
            margin-top: 5%;
            }
        </style>


   		
   	</div>

   	<!-- Productos -->

   	<div class="divimagenesstu">


   		<div class="img-contrainer">
       		 <img src="{{path}}img/products_etre/productcambio.jpg" >
        	 <img class="img-cambio" src="{{path}}img/products_etre/product.jpg">
        	 <p class="tex_product">Nombre producto</p>
        	 <p class="tex_product">Precio</p>
       </div>

       <div class="img-contrainer">
       		 <img src="{{path}}img/products_etre/productcambio.jpg" >
        	 <img class="img-cambio" src="{{path}}img/products_etre/product.jpg">
        	 <p class="tex_product">Nombre producto</p>
        	 <p class="tex_product">Precio</p>
       </div>

       <div class="img-contrainer">
       		 <img src="{{path}}img/products_etre/productcambio.jpg" >
        	 <img class="img-cambio" src="{{path}}img/products_etre/product.jpg">
        	 <p class="tex_product">Nombre producto</p>
        	 <p class="tex_product">Precio</p>
       </div>

       <div class="img-contrainer">
       		 <img src="{{path}}img/products_etre/productcambio.jpg" >
        	 <img class="img-cambio" src="{{path}}img/products_etre/product.jpg">
        	 <p class="tex_product">Nombre producto</p>
        	 <p class="tex_product">Precio</p>
       </div>
  
   	</div>
      
    <!-- poup up -->

      <div class="contenedor">
		<article>

			<a id="btn-abrir-popup" class="btn-abrir-popup">Abrir Ventana Emergente</a>
			
		</article>

		<div class="overlay" id="overlay">
			<div class="popup" id="popup">
				<a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
				<h3>SUSCRIBETE</h3>
				<h4>y recibe un cupon de descuento.</h4>
				<form action="">
					<div class="contenedor-inputs">
						<input type="text" placeholder="Nombre">
						<input type="email" placeholder="Correo">
					</div>
					<input type="submit" class="btn-submit" value="Suscribirse">
				</form>
			</div>
		</div>
	</div>

     
   	

   	 <style>
		   	 	.tex_product{
		       	 	font-size: 1.9rem;
				    line-height: 1.6em;
				    color: #666;
				    margin-left: 0%;
				  }


		       	 .img-contrainer{
			        
			        position: relative;
			     }
			    
			    .img-contrainer img{
			        width: 89%;
			        height: 59%;
			        margin-left: 12%;
			        margin-top: 35%;
			        
			     }

			     .img_contrainer p {
			     	justify-content: left;
				    align-items: center
				    margin-left: 12%;
			      }

			    .img-cambio{
			        position: absolute;
			        top: 0px;
			        left: 0px;
			        opacity: 0;
			        transition: opacity 0.5s ease;
			    }
			    .img-cambio:hover{
			        opacity: 1;
			     }
			    

		   	 	.divimagenesst{
		   	 	    margin: 2%;
		            margin-top: -8%;
		            display: flex;
		            justify-content: space-around;

		   	 	 }

		   	 	.img_rt{
					position: relative;
					margin: 2%;
			 		margin-top: 8%;
		        	justify-content: space-around;
		   	    }
		   	    .img_rt > img{
		            width: 100%;
		            height: 100%;
		   	    }
		        
		        .divForNewImagestr{
		        	border: 1px solid #dee2e6!important;
		            margin:3px;
		            width: 80%;
		            height: 72%;
		            position: absolute;

		        }

		        .divForNewImagestrp{
		            position: absolute;
		        	border: 1px solid #dee2e6!important;
		            margin:3px;
		            width: 80%;
		            height: 72%;
		            opacity: 0;
		            transition: opacity 0.5s ease;
		        }
		        .divForNewImagestrp:hover{
		            opacity: 1;
		         }
		         

		   	 	.divimageness{
		   	 		border-top:solid #dee2e6!important;
		   	 		margin: 2%;
		   	 		margin-top: 5%;
		            display: flex;
		            justify-content: space-around;
		   	 	}

		   	 	.divimagenesstu{
		   	 		margin: 2%;
		   	 		margin-top: -4%;
		            display: flex;
		            justify-content: space-around;
		   	 	}

		        .search{
		          display: flex;
		   	 	  justify-content: left;
				   align-items: center;
		        }

		   	 	.select{
		   	 	  display: flex;
		   	 	  justify-content: left;
				   align-items: center;
		   	 	}

		   	 	.botn_netx{
		   	 		background-color: black;
		   	 		margin: px;
		   	 		color: white;
		   	 		width: 90%;
		   	 		height: 100%;
		   	 		justify-content: center;
				    align-items: center;
				    display: flex;
		   	 	}

		   	 	.div_title_product{
		   	 		
		   	 		margin-top: 20px;
		   	 		margin-bottom: 20px;
		   	 		margin-left: -6px;
		            margin-right: 37px;
		   	 	}

		   	 	.div_bordes{
		   	 		
		   	 		margin-left: 30px;
		            margin-right: 30px;
		   	 	}

		   	 	.divSubMenus{
		   	 		border-top: 1px solid #dee2e6!important;
		            border-right: 1px solid #dee2e6!important;  
		            border-left: 1px solid #dee2e6!important;
		   	 		border: 1px solid #dee2e6!important;
		            display: flex;
		            justify-content: space-around;
		        }
		        .divForNewElements{
		        	border-bottom: 1px solid #dee2e6!important;
		            width: 60%;
		            padding:15px; 
		        }
		        .divTitleForNewElements{
		            border:1px solid #dee2e6!important;
		            width: 100%;
		            height: 100%;
		            margin-left: 20px;
		            margin-right: 20px;
		            justify-content: center;
				    align-items: center;
				    display: flex;		
		        }
		        .divTitleForNewElements > p{
		        	padding-top: 6px;

		        } 

		        .divForNewImages{
		        	border: 1px solid #dee2e6!important;
		            margin:10px;
		            width: 160px;
		            height: 142px;
		        }

		        .divForDescription{
		        	border-left:1px solid #dee2e6!important;
		        	border-bottom: 1px solid #dee2e6!important;
		            width: 40%;
                    margin: px;
		        }

		        .div_et{
		            height: 11%;
		            justify-content: center;
				    align-items: center;
				    display: flex;
		        }

		        .div_ed{
		        	
		            height: 11%;
		            justify-content: center;
				    align-items: center;
				    display: flex;
		        }
		        .div_er{
		        	border-bottom:1px solid #dee2e6!important; 
		        	border-top: 1px solid #dee2e6!important;
		            height: 11%;   
		            justify-content: center;
				    align-items: center;
				    display: flex;
		        }
		        .div_eu{
		        	
		            height: 20%;
		            justify-content: center;
				    align-items: center;
				   
		        }
		        .div_ep{
		        	
		            height: 13%;
		            justify-content: center;
				    align-items: center;
				    display: flex;
		        }


		        .middleDiv{
		        	border-left: 1px solid #dee2e6!important;
		        	border-right: 1px solid #dee2e6!important;
		            display: flex;
		        }
		        .lastDiv{
		        	border:transparent;
		        	margin-top: 5%;
		            display: flex;
		            justify-content: space-around;
		        }
        
   	 	
   	 </style>

     
</div>	
<br><br><br><br><br><br><br><br>
 