 <style>
	.contrainer{
        width: 100%;
        display:block;  
    }
    .progressbar{
        counter-reset: step;
    }
    .progressbar a{
        list-style-type: none;
        float: left;
        width: 24.33%;
        position: relative;
        text-align: center;
    }
    .progressbar a:before{
        content: counter(step);
        counter-increment:step;
        width: 30px;
        height: 30px;
        line-height: 27px;
        border: 1px solid #ddd;
        display: block;
        text-align: center;
        margin: 0 auto 100px auto;
        border-radius: 50px;
        background-color: white;
    }  
     
    .progressbar a:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #ddd;
        top: 15px;
        left: -50%;
        z-index: -1;
    }
    .progressbar a:first-child:after{
        content: none;
    }
    .progressbar a.active{
    	display: block;
        color: #C4AE9D;
    }
    .progressbar a.active:before{
    	background-color: #C4AE9D;
        border-color:#C4AE9D;
    }
    .progressbar a.active + a:after{
        background-color: #C4AE9D;
    }

    /*Clase súper active */
    .progressbar a.superActive{
        display: block;
        color: #b0714a;
    }
    .progressbar a.superActive:before{
        background-color: #b0714a;
        border-color:#b0714a;
    }
    .progressbar a.superActive + a:after{
        background-color: #b0714a;
    }

    /*Progressbar before*/

    .progressbar a.active{
    	display: block;
        color: #F0B27A;
    }
    .progressbar a.active:before{
    	background-color: #F0B27A;
        border-color:#F0B27A;
    }
    .progressbar a.active + a:after{
        background-color:#F0B27A;
    }
     /*Clase súper active */
    .progressbar a.superActive{
        display: block;
        color: #b0714a;
    }
    .progressbar a.superActive:before{
        background-color: #b0714a;
        border-color:#b0714a;
    }
    .progressbar a.superActive + a:after{
        background-color: #b0714a;
    }
    
   
    /*Caja de productos*/
    
    .imagecontainer{
    	display: flex;
    	justify-content:center;
    	width: 100%
    }

    .image-style{
    	width: 49%;
    	padding: 2px;
    } 

    .image-style img{

    }

    #transition-image{
    	position: absolute;
    	top: 0px:
    	left:0px;
    	opacity: 0;
    	transition: opacity 0.5s ease;

    }
    #transition-image:hover{
    	opacity: 1;
    }

     /* Global Button Styles */
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        border-radius: 0;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }
    a.animated-button:link:after, a.animated-button:visited:after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 50%;
        z-index: -1;
        -webkit-transition: all 0.75s ease 0s;
        -moz-transition: all 0.75s ease 0s;
        -o-transition: all 0.75s ease 0s;
        transition: all 0.75s ease 0s;
    }
    a.animated-button:link:hover, a.animated-button:visited:hover {
        color: #FFF;
        text-shadow: none;
    }
    a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
        height: 50%;
    }
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        border-radius: 0;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

a.animated-button.thar-three {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}
a.animated-button.thar-three:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nthree;
}
a.animated-button.thar-three:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
a.animated-button.thar-three:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}

  
    /* Global Button Styles */
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        border-radius: 0;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }
    a.animated-button:link:after, a.animated-button:visited:after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 50%;
        z-index: -1;
        -webkit-transition: all 0.75s ease 0s;
        -moz-transition: all 0.75s ease 0s;
        -o-transition: all 0.75s ease 0s;
        transition: all 0.75s ease 0s;
    }
    a.animated-button:link:hover, a.animated-button:visited:hover {
        color: #FFF;
        text-shadow: none;
    }
    a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
        height: 50%;
    }
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        border-radius: 0;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

	a.animated-button.thar-three {
		 margin-top: 3px;
	    background-color: white;
		color: black;
		cursor: pointer;
		display: block;
		position: absolute;
		border: 2px solid black;
		transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	0s;
	}
	a.animated-button.thar-three:hover {
		color: #000 !important;
		background-color: transparent;
		text-shadow: nthree;
	}
	a.animated-button.thar-three:hover:before {
		left: 0%;
		right: auto;
		width: 100%;
	}
	a.animated-button.thar-three:before {
		display: block;
		position: absolute;
		top: 0px;
		right: 0px;
		height: 100%;
		width: 0px;
		z-index: -1;
		content: '';
		color: #000 !important;
		background: #C4AE9D; 
		transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);0s;
	}

	.parrafo{
		 margin-top:155px;
		 font-size: 100%;

	}

	.images{
   	display: flex;
    }

   	.pzp{
     margin-top: 2%;
    }

 
</style>

<div class="ps-breadcrumb">
    
    <!-- Barra de números -->
	<div class="contrainer">
		<div>
			<ul class="progressbar">
     			<a id="step1" routerLink="/selecction-caja">Step 1</a>
     			<a id="step2"  class="superActive">Step 2</a>
             	<a id="step3">Step 3</a>
    	        <a id="step4" >Done!</a>
			</ul>
			<br>
   	 	</div><br>
   	 </div><br>

     <!-- Descripción  -->
     <div class="imagecontainer"> <p class="parrafo"> Steof 2 of 3 </p><br></div>
   	 <div class="imagecontainer"> <h2><b>CHOOSE YOUR ITEMS</b><br><br><br></h2></div>

     <div class="div-new">
        <div class="divSubMenus">  
            <a>SMALL</a>
            <a>REGULAR</a>
        </div>
        <div class="row  col-sm-12" style="display: flex;">
            <div class="div-img-new col-lg-7 col-md-12 col-sm-12">
                <div class="div-title-new">
                    <p>START SELECTING ITEMS TO FILL YOUR BOX</p>
                </div>
                <div class="contrainer ">
                    <div class="row">
                        <div class="produc-agregado-new col-lg-4 col-sm-6 col-6">
                            <div  class="img-new-product ">
                                <img style="display: flex;" src="{{box_json.box_img}}" alt="">
                                <div class="circulo">{{1}}</div>
                            </div>
                        </div>
                        <div class="produc-agregado-new col-lg-4 col-sm-6 col-6" *ngFor="let product of almacenar_productos; let lastIndex = last, let i = index" id="alm_{{index}}">
                            <div  class="img-new-product ">
                                <img style="display: flex;" src="{{path}}img/products_etre/{{product.image}}" alt="">
                                <div class="circulo">{{cant_productos[i]}}</div>
                            </div>
                           {{ lastIndex ? callback() : ""}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-info-new col-lg-5 col-md-12 col-sm-12">
                <div class="div_et">
                   <p class="pzp"><b>BOX CONTENTS</b></p>
                </div>
                <!-- Contenido de la caja -->
                <div class="div_ed">
                   <p>1 GIT PACKAGING & HAND WRAPPING   $7.00</p>
                </div>
                <!-- contenido de productos agregados -->
                <div class="nwe-ptg">
                     <div *ngFor="let product of almacenar_productos; let lastIndex = last ,let i = index" class="div_er">
                        <p class="tex_cont">{{cant_productos[i]}}&nbsp;</p>
                        <p>{{product.name}}&nbsp;  ${{product.price}}&nbsp;</p>
                        <p (click)="eliminarProducto(i)">&nbsp;X</p>
                    <!-- <p>CURRENT PACKAGINGI SMALL</p> -->
                     {{ lastIndex ? callback() : ""}}
                    </div>  
                </div>
                 <div class="div_ed">
                   <p>CURRENT PACKAGING I SMALL</p>
                </div>
                <div class="div-price-new">
                    <p><b> BOX SUBTOTAL: $ </b></p>
                    <a [routerLink]="['/selecction-paso-tres', id_to_box]" class="new-boton">
                        COMPLETE BOX
                    </a>
                </div>
            </div>
        </div>  
     </div>
     <style>
        .nwe-ptg{
            height: px;
        }
         .div-new{
            margin: 3%;
         }
         .div-img-new{
            /*width: 65%;*/
            height: px;
            border: 1px solid #dee2e6!important;
         }
         .div-info-new{   
            /*width: 35%;*/
            height: px;
            border: 1px solid #dee2e6!important;
         }
         .div-title-new{
            text-align: center;
            padding: 0px 4px 0;
            border: 1px solid #dee2e6!important;
         }
         .produc-agregado-new{
         }
         .div-price-new{
            text-align: center;
         }
         .new-boton{
            background: black;
            color:white;
            justify-content: center;
            align-items: center;
            /*display: flex;*/
         }
         .img-new-product {
            display: flex; 
            margin:11%;
         }
        .progressbartow a:before{
            content: counter();
            counter-increment:step;
            width: 30px;
            height: 30px;
            line-height: 27px;
            border: 1px solid #ddd;
            display: block;
            text-align: center;
            margin: -14px auto 100px auto;
            border-radius: 50px;
            background-color: white;
            margin-left: -21px;

        }
        .circulo {
            width: 50px;
            height: 30px;
            line-height: 27px;
            border: 1px solid #ddd;
            display: block;
            text-align: center;
            margin: -6px auto 100px auto;
            border-radius: 50%;
            background-color: white;
            margin-left: -30px;
            margin-top: 3px;
            font-size: 17px;
        } 
     </style>


   	<!-- Productos -->

   	<div class="divimageness row">

        <!--=====================================
        Producte col-md-12 col-sm-12
        ======================================--> 
 
        <div
         *ngFor="let products of getProduct; let lastIndex = last"
         class="ps-product col-lg-3 col-md-4 col-sm-6">
            <div class="ps-product__thumbnail ">

                <a>
                    <img 
                     (click)="almacenarProductos(products)"
                    src="{{path}}img/products_etre/{{products.image}}" alt="">
                </a>

                <ul class="ps-product__actions">

                    <li>
                        <a>
                            <i (click)="almacenarProductos(id)" class="icon-heart"></i>
                        </a>

                    </li>  

                </ul>

                <!-- <a class="ps-product__actions__nuevo">ADD TO BOX</a> -->
                <p class="tex_product">{{products.name}}</p>
                <p class="tex_product">{{products.price}}</p>
            </div>
         {{ lastIndex ? callback() : ""}}

        </div><!-- End Product -->

   


        <style>
            .ps-product .ps-product__actionst {
              display: -webkit-box;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
                      flex-flow: row nowrap;
              -webkit-box-pack: justify;
                      justify-content: space-between;
              max-width: 200px;
              padding: 10px 0;
              background-color: #fff;
              -webkit-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
              transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
            }

            .ps-product .ps-product__actionst li {
              margin-right: 10px;
            }

            .ps-product .ps-product__actionst li a {
              display: -webkit-box;
              display: flex;
              -webkit-box-pack: center;
                      justify-content: center;
              -webkit-box-align: center;
                      align-items: center;
              width: 34px;
              height: 34px;
              border-radius: 50%;
            }

            .ps-product .ps-product__actionst li a:hover {
              background-color: #fcb800;
              color: #ffffff;
            }

            .ps-product .ps-product__actionst:last-child {
              margin-right: 0;
            }
            .ps-product {
            position: relative;
            padding: 0px 4px 0;
            border: 1px solid transparent;
            border-bottom: none;
            margin-left: 0%;
            margin-top: 5%;
            }
            .ps-product>img{
                margin: 100%;
            }
        </style>


   		
   	</div>
      
    <!-- poup up -->

      <div class="contenedor">
		<article>

			<a id="btn-abrir-popup" class="btn-abrir-popup">Abrir Ventana Emergente</a>
			
		</article>

		<div class="overlay" id="overlay">
			<div class="popup" id="popup">
				<a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
				<h3>SUSCRIBETE</h3>
				<h4>y recibe un cupon de descuento.</h4>
				<form action="">
					<div class="contenedor-inputs">
						<input type="text" placeholder="Nombre">
						<input type="email" placeholder="Correo">
					</div>
					<input type="submit" class="btn-submit" value="Suscribirse">
				</form>
			</div>
		</div>
	</div>

     <style>
         * {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

.contenedor article {
    line-height: 28px;
}

.contenedor article h1 {
    font-size: 30px;
    text-align: left;
    padding: 50px 0;
}

.contenedor article p {
    margin-bottom: 20px;
}

.contenedor article .btn-abrir-popup {
    padding: 0 20px;
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
    cursor: pointer;
}

.contenedor article .btn-abrir-popup:hover {
    background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.popup {
    background: #F8F8F8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 600px;
    
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.popup .btn-cerrar-popup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    transition: .3s ease all;
    color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
    color: #000;
}

.popup h3 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0;
}

.popup h4 {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 40px;
    opacity: 0;
}

.popup form .contenedor-inputs {
    opacity: 0;
}

.popup form .contenedor-inputs input {
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    font-size: 18px;
    line-height: 52px;
    text-align: center;
    border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}

.popup form .btn-submit:hover {
    background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active { transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaSubtitulo {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaInputs {
    from { opacity: 0; }
    to { opacity: 1; }
}
     </style>
   	

   	 <style>
		   	 	.tex_product{
		       	 	font-size: 1.9rem;
				    line-height: 1.6em;
				    color: #666;
				    margin-left: 0%;
				  }


		       	 .img-contrainer{
			        
			        position: relative;
			     }
			    
			    .img-contrainer img{
			        width: 89%;
			        height: 59%;
			        margin-left: 12%;
			        margin-top: 35%;
			        
			     }

			     .img_contrainer p {
			     	justify-content: left;
				    align-items: center
				    margin-left: 12%;
			      }

			    .img-cambio{
			        position: absolute;
			        top: 0px;
			        left: 0px;
			        opacity: 0;
			        transition: opacity 0.5s ease;
			    }
			    .img-cambio:hover{
			        opacity: 1;
			     }
			    

		   	 	.divimagenesst{
		   	 	    margin: 2%;
		            margin-top: -8%;
		            display: flex;
		            justify-content: space-around;

		   	 	 }

		   	 	.img_rt{
					position: relative;
					margin: 2%;
			 		margin-top: 8%;
		        	justify-content: space-around;
		   	    }
		   	    .img_rt > img{
		            width: 100%;
		            height: 100%;
		   	    }
		        
		        .divForNewImagestr{
		        	border: 1px solid #dee2e6!important;
		            margin:3px;
		            width: 80%;
		            height: 72%;
		            position: ;

		        }

		        .divForNewImagestrp{
		            position: absolute;
		        	border: 1px solid #dee2e6!important;
		            margin:3px;
		            width: 80%;
		            height: 72%;
		            opacity: 0;
		            transition: opacity 0.5s ease;
		        }
		        .divForNewImagestrp:hover{
		            opacity: 1;
		         }
		         

		   	 	.divimageness{
		   	 		border-top:solid #dee2e6!important;
		   	 		margin: 2%;
		   	 		margin-top: 5%;
		            display: flex;
		            justify-content: space-around;
		   	 	}

		   	 	.divimagenesstu{
		   	 		margin: 2%;
		   	 		margin-top: -4%;
		            display: flex;
		            justify-content: space-around;
		   	 	}

		        .search{
		          display: flex;
		   	 	  justify-content: left;
				   align-items: center;
		        }

		   	 	.select{
		   	 	  display: flex;
		   	 	  justify-content: left;
				   align-items: center;
		   	 	}

		   	 	.botn_netx{
		   	 		background-color: black;
		   	 		margin: px;
		   	 		color: white;
		   	 		width: 90%;
		   	 		height: 100%;
		   	 		justify-content: center;
				    align-items: center;
				    display: flex;
		   	 	}

		   	 	.div_title_product{
		   	 		
		   	 		margin-top: 20px;
		   	 		margin-bottom: 20px;
		   	 		margin-left: -6px;
		            margin-right: 37px;
		   	 	}

		   	 	.div_bordes{
		   	 		
		   	 		margin-left: 30px;
		            margin-right: 30px;
		   	 	}

		   	 	.divSubMenus{
		   	 		border-top: 1px solid #dee2e6!important;
		            border-right: 1px solid #dee2e6!important;  
		            border-left: 1px solid #dee2e6!important;
		   	 		border: 1px solid #dee2e6!important;
		            display: flex;
		            justify-content: space-around;
		        }
		        .divForNewElements{
		        	border-bottom: 1px solid #dee2e6!important;
		            width: 60%;
		            padding:15px; 
		        }
		        .divTitleForNewElements{
		            border:1px solid #dee2e6!important;
		            width: 100%;
		            height: 100%;
		            margin-left: 20px;
		            margin-right: 20px;
		            justify-content: center;
				    align-items: center;
				    display: none;		
		        }
		        .divTitleForNewElements > p{
		        	padding-top: 6px;

		        } 

		        .divForNewImages{
		        	border: 1px solid #dee2e6!important;
		            margin:10px;
		            width: 160px;
		            height: 142px;
		        }

		        .divForDescription{
		        	border-left:1px solid #dee2e6!important;
		        	border-bottom: 1px solid #dee2e6!important;
		            width: 40%;
                    margin: px;
		        }

		        .div_et{
		            height: 11%;
		            justify-content: center;
				    align-items: center;
				    display: flex;
                    float: bottom;
		        }

		        .div_ed{
		        	
		            height: 11%;
		            justify-content: center;
				    align-items: center;
				    display: flex;
		        }
		        .div_er{
		        	border-bottom:1px solid #dee2e6!important; 
		        	border-top: 1px solid #dee2e6!important;
		            height: px;   
		            justify-content: center;
				    align-items: center;
				    display: flex;
		        }
		        .div_eu{
		        	
		            height: 20%;
		            justify-content: center;
				    align-items: center;
				   
		        }
		        .div_ep{
		        	
		            height: 13%;
		            justify-content: center;
				    align-items: center;
				    display: flex;
		        }


		        .middleDiv{
		        	border-left: 1px solid #dee2e6!important;
		        	border-right: 1px solid #dee2e6!important;
		            display: flex;
		        }
		        .lastDiv{
		        	border:transparent;
		        	margin-top: 5%;
		            display: flex;
		            justify-content: space-around;
		        }
        
   	 	
   	 </style>

     
</div>	
<br><br><br><br><br><br><br><br>
 