<div class="container" style="width:100%; height:px;">

	<div>

		<h3 class="title-empty" style="text-align: center; margin-top: 10%; 
		font-family: 'Libre Franklin', sans-serif;">Your cart is empty.</h3>
		
	</div>

	<div style="justify-content: center;">

		<div style="width: 100%;height: 100px; justify-content: center;
	  	align-items: center; display: flex; margin-top: 10%;">

			<a href="products/kits" class="btn btn-sm animated-button thar-three"
			style="font-family:'Libre Franklin', sans-serif; display: flow-root;
			width: 288px;">
		    	SHOP CURATED GIFT BOX
	    	</a>
		
		</div>

		<div class="btn-empity-f" 
		style="width: 100%;height: 100px; justify-content: center;
	  	align-items: center; display: flex; margin-top: 3%; ">

			<a class="btn btn-sm animated-button thar-three"
			(click)="fncCurateYourBox()"
			 style="font-family:'Libre Franklin', sans-serif; display: flow-root;
			width: 288px;">
		    	CURATE YOUR BOX
	    	</a>
		
		</div>

		<div style="width: 100%;height: 100px; justify-content: center;
	  	align-items: center; display: flex; 
	  	margin-bottom: 7%;">

			<a class="btn btn-sm animated-button thar-three"
			href="products/articles"
			 style="font-family:'Libre Franklin', sans-serif; display: flow-root;
			width: 288px;">
		    	SHOP FOR ME
	    	</a>
		
		</div>
		
	</div>	

</div>



<style>

	/* Global Button Styles */
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        border-radius: 0;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }
    a.animated-button:link:after, a.animated-button:visited:after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 50%;
        z-index: -1;
        -webkit-transition: all 0.75s ease 0s;
        -moz-transition: all 0.75s ease 0s;
        -o-transition: all 0.75s ease 0s;
        transition: all 0.75s ease 0s;
    }
    a.animated-button:link:hover, a.animated-button:visited:hover {
        color: #FFF;
        text-shadow: none;
    }
    a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
        height: 50%;
    }
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        border-radius: 0;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

	a.animated-button.thar-three {
		color: black;
		cursor: pointer;
		display: block;
		position: relative;
		border: 2px solid #F7CA18;
		transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	0s;
	}
	a.animated-button.thar-three:hover {
		color: white !important;
		background-color: transparent;
		text-shadow: nthree;
	}
	a.animated-button.thar-three:hover:before {
		left: 0%;
		right: auto;
		width: 100%;
	}
	a.animated-button.thar-three:before {
		display: block;
		position: absolute;
		top: 0px;
		right: 0px;
		height: 100%;
		width: 0px;
		z-index: -1;
		content: '';
		color: #000 !important;
		background: #F7CA18;
		transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	0s;
	}

  
    /* Global Button Styles */
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        border-radius: 0;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }
    a.animated-button:link:after, a.animated-button:visited:after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 50%;
        z-index: -1;
        -webkit-transition: all 0.75s ease 0s;
        -moz-transition: all 0.75s ease 0s;
        -o-transition: all 0.75s ease 0s;
        transition: all 0.75s ease 0s;
    }
    a.animated-button:link:hover, a.animated-button:visited:hover {
        color: #FFF;
        text-shadow: none;
    }
    a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
        height: 50%;
    }
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        border-radius: 0;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

	a.animated-button.thar-three {
        font-size: 16px;
        /*display: flow-root;*/
        /*width: 40%;*/
       /* height: 3%;*/
		/*margin-top: 93px;*/
	    background-color: white;
		color: black;
		padding-top: 2%;
		padding-bottom: 2%;
		/*padding-left: 6%;
		padding-right: 6%;*/
		font-weight: 100;
		cursor: pointer;
		display: block;
		position: absolute;
		border: 2px solid black;
		transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	0s;
	}
	a.animated-button.thar-three:hover {
		color: white !important;
		background-color: transparent;
		text-shadow: nthree;
	}
	a.animated-button.thar-three:hover:before {
		left: 0%;
		right: auto;
		width: 100%;
	}
	a.animated-button.thar-three:before {
		display: block;
		position: absolute;
		top: 0px;
		right: 0px;
		height: 100%;
		width: 0px;
		z-index: -1;
		content: '';
		color: #000 !important;
		background: black; 
		transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);0s;
	}


	@media (max-width: 360px) {
	  a.animated-button.thar-three {
	   height: px !important;
	  }
	  .title-empty{
	  	margin-top: 30% !important;
	  }

	  .btn-empity-f {

	  	margin-top: 6%;
	  }
	}
</style> 