<div 
*ngIf="!preload"
class="ps-product--detail ps-product--fullwidth" style=" padding: 0px;">
    
    <div style="display: flex; padding: 0px;" class="row">

        <div class="col-lg-6 col-md-7 col-sm-12" style="">

            <div 
            *ngIf="!preload"
            class="ps-product--detail ps-product--fullwidth">

                <!--=====================================
                Gallery   
                ======================================--> 

                    <!-- <figure>

                        <div class="ps-wrapper">

                            <div class="ps-product__gallery" data-arrow="true">
                                 
                                    *ngFor="let p of product[0]"
                                     *ngFor="let image of gallery[0]" 
                                
                                <div 
                                *ngFor="let p of product; let i = index"
                                class="item">
                                    <a (click)="fncGallery(i)">
                                        <img style="width: 100%; height: 500px;" src="{{p.gallery[img_showed_gallery]}}"
                                        id="mainImg">
                                    </a>

                                 
                                </div>

                            </div>

                        </div>

                    </figure> -->

                    <div 
                    id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        
                        <div 
                        *ngFor="let p of product; let i = index"
                        class="carousel-item active">
                          <img 
                           class="d-block w-100" style="width: 100%; height: 600px; object-fit: cover;" src="{{p.image}}" alt="First slide" id="mainImg">
                        </div>

                        <div 
                        *ngFor="let p of product[0].gallery; let i = index"
                        class="carousel-item">
                          <img 
                          class="d-block w-100" style="width: 100%; height: 600px; object-fit: cover;" src="{{p}}" alt="First slide" id="mainImg">
                        </div>
                            
                      </div>

                      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>

                    </div>


                   <div class="thumb_img_list" style="text-align: center; ">

                        <ul style="list-style: none; display: inline-block;
                         width: 100px; cursor: pointer; display: flex;
                         margin: 0.5px;"> 

                            <li 
                            *ngFor="let p of product[0].gallery; let i = index"
                            style="display: inline-block; 
                            width: 100px; 
                            margin: 0.5px;">

                                <img  src="{{p}}"
                                id="thumb1">

                            </li>

                            <!-- <li style="display: inline-block; 
                            width: 100px; 
                            margin: 0.5px;">
                                <img  src="{{path}}img/products_etre/prod2.png"
                                id="thumb2">
                            </li>

                            <li style="display: inline-block; 
                            width: 100px; 
                            margin: 0.5px;">
                                <img  src="{{path}}img/products_etre/prod3.png"
                                id="thumb3">
                            </li>

                            <li style="display: inline-block; 
                            width: 100px; 
                            margin: 0.5px;">
                                <img  src="{{path}}img/products_etre/prod4.png"
                                id="thumb4">
                            </li> -->

                            
                        </ul>
                        
                   </div>  
<!-- 
                    <div class="ps-product__variants" data-item="4" data-md="4" data-sm="4" data-arrow="false" 
                    style="display: none;">
                        <div 
                        *ngFor="let image of gallery[0]; let lastIndex = last; let i = index"
                        class="item">
                            <img src="{{product.gallery}}" alt="{{product[0].name}}">

                        {{ lastIndex ? callbackGallery(i) : ""}}
                        </div>          

                    </div> --> 

            </div>

            <div
            *ngIf="preload"
            class="d-flex justify-content-center">
                
                <div class="spinner-border text-muted my-5"></div>

            </div>
            
        </div>

        <div class="col-lg-5 col-md-7 col-sm-12" style="margin-left:2%;">

                <!--=====================================
                Product Info
                ======================================--> 

                <div 
                *ngFor="let p of product; let i = index"
                class="ps-product__info">

                    <h1 style="text-align: center;">{{p.name}}</h1>

                    <div class="ps-product__meta">


                    </div>

                    <div style="text-align: center;" [innerHTML]="price[i][0]"></div>

                    <div class="ps-product__desc">

                       <p (click)="fncVisibility(0)" style="cursor: pointer; text-align: center; font-size: 100%;">
                            DESCRIPTION
                        </p>
                        <!--=====================================
                        DESCRIPTION
                        ======================================-->

                        <div 
                         *ngIf="visibility_1[0]"
                        class="ps-list--dot">
                            
                            <ul>
                                
                                <li>
                                    {{p.description}}
                                </li>

                            </ul>

                        </div>

                    </div>

                    <div class="ps-product__desc">

                       <p (click)="fncVisibility(1)" style="cursor: pointer; text-align: center; font-size: 100%;">
                            ICLUDES
                        </p>
                        <!--=====================================
                        SUMMARY = ICLUDES
                        ======================================-->

                        <div 
                         *ngIf="visibility_1[1]"
                        class="ps-list--dot">
                            
                            <ul>
                                
                                <li *ngFor="let sum of summary[i]">
                                    {{sum}}
                                </li>

                            </ul>

                        </div>

                    </div>

                    <div class="ps-product__desc">

                       <p (click)="fncVisibility(2)" style="cursor: pointer; text-align: center; font-size: 100%;">
                            THE DETAILS
                        </p>
                        <!--=====================================
                        DETAILS
                        ======================================-->

                        <div 
                         *ngIf="visibility_1[2]"
                        class="ps-list--dot">
                            
                            <ul>
                                
                                <li >
                                    {{p.details}}
                                </li>

                            </ul>

                        </div>

                    </div>

                    <div class="ps-product__shopping" style="justify-content: center;
                      margin: 2%;">

                        <figure style="text-align: center;">

                            <figcaption>
                                <h3 style="text-align: center;">
                                    Quantity
                                </h3>
                            </figcaption>

                            <div class="form-group--number quantity" style="text-align: center;">

                                <button class="up" (click)="changeQuantity(quantity.value, 1, 'up')">
                                    <i class="fa fa-plus"></i>
                                </button>

                                <button class="down" (click)="changeQuantity(quantity.value, 1, 'down')">
                                    <i class="fa fa-minus"></i>
                                </button>

                                <input class="form-control px-5" type="number" value="1" min="1" max="9" step="1" #quantity (change)="changeQuantity(quantity.value, 0, null)">

                            </div>

                        </figure>

                    </div>

                    <!--=====================================
                    Box
                    ======================================-->
                    <div 
                    *ngIf="p.category == compare ">

                        <div>
                            <h3 style="text-align: center;">
                                BOX COLOR
                            </h3>
                            <div class="row" style="display: flex;">
                                <img class="col-6" 
                                style="width: 50px; height: 200px;" 
                                src="https://firebasestorage.googleapis.com/v0/b/market-place-31cf1.appspot.com/o/backup%2Fproduct2.jpg?alt=media&token=92a5807b-4832-41c9-bf97-17e6ea9e4fa2" >
                                <img class="col-6" 
                                style="width: 50px; height: 200px;"
                                src="https://firebasestorage.googleapis.com/v0/b/market-place-31cf1.appspot.com/o/backup%2Fproduct.jpg?alt=media&token=b971bf3d-137c-4d05-852a-fa923fb66db0">
                            </div>
                        </div>

                        <!--=====================================
                        Letter
                        ======================================-->
                        <div class="row" style="display: flex; margin-top: 3%;">

                            <div class="col-6">
                                <p>To</p>
                                <div class="input-group input-group-lg">
                                    <input  
                                      placeholder="To" 
                                      type="text" class="form-control" 
                                      aria-label="Sizing example input" 
                                      aria-describedby="inputGroup-sizing-lg">
                                </div>
                            </div>
                            
                            <div class="col-6">
                                <p>From</p>
                                <div class="input-group input-group-lg">
                                    <input  
                                    placeholder="From" 
                                    type="text" class="form-control" 
                                    aria-label="Sizing example input" 
                                    aria-describedby="inputGroup-sizing-lg">
                                </div>  
                            </div>    
                            
                        </div>

                        <div style="margin-top: 3%;">
                            <p>Message</p>

                            <textarea placeholder="Enter your card message here. 120 characters" 
                            id="to-message" rows="5" 
                            id="to-message"
                            style="width: 100%"></textarea>

                        </div>
                        
                    </div>

                
                    <div style="margin-bottom: 3%; margin-top: 3%;">

                        <a class="new-boton" 
                        style="cursor:pointer" 
                        (click)="addShoppingCart(p.url, 1, [])">
                            ADD TO CART $40.00
                        </a>
                        <!-- <a class="btn btn-sm animated-button thar-three "> -->
                            <!-- ADD TO CART $40.00 -->
                        <!-- </a> -->
                    </div>


                </div> <!-- End Product Info -->

        </div> 

    </div>

    

</div>

<!--=====================================
Preload 

    <a class="ps-btn ps-btn--black" style="cursor:pointer"
     (click)="addShoppingCart(p.url, 1, [])">Add to cart</a>
======================================-->
<div
*ngIf="preload"
class="d-flex justify-content-center">
    
    <div class="spinner-border text-muted my-5"></div>

</div>

<style>
     .new-boton{
        text-align: center;
        background: black;
        color:white;
        justify-content: center;
        align-items: center;
        display: flow-root;
        /*display: flex;*/
     }
    
    /* Global Button Styles */
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        border-radius: 0;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }
    a.animated-button:link:after, a.animated-button:visited:after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 50%;
        z-index: -1;
        -webkit-transition: all 0.75s ease 0s;
        -moz-transition: all 0.75s ease 0s;
        -o-transition: all 0.75s ease 0s;
        transition: all 0.75s ease 0s;
    }
    a.animated-button:link:hover, a.animated-button:visited:hover {
        color: #FFF;
        text-shadow: none;
    }
    a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
        height: 50%;
    }
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        border-radius: 0;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

a.animated-button.thar-three {
    color: #fff;
    cursor: pointer;
    display: block;
    position: relative;
    border: 2px solid #F7CA18;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}
a.animated-button.thar-three:hover {
    color: #000 !important;
    background-color: transparent;
    text-shadow: nthree;
}
a.animated-button.thar-three:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
}
a.animated-button.thar-three:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: #F7CA18;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}

  
    /* Global Button Styles */
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        border-radius: 0;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }
    a.animated-button:link:after, a.animated-button:visited:after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 50%;
        z-index: -1;
        -webkit-transition: all 0.75s ease 0s;
        -moz-transition: all 0.75s ease 0s;
        -o-transition: all 0.75s ease 0s;
        transition: all 0.75s ease 0s;
    }
    a.animated-button:link:hover, a.animated-button:visited:hover {
        color: #FFF;
        text-shadow: none;
    }
    a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
        height: 50%;
    }
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        border-radius: 0;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

    a.animated-button.thar-three {
        /*align-items: center;*/
        font-size: inherit;
        width:100%;
        height: px;
        margin-top: px;
        /*background-color: white;*/
        /*color: black;*/
        cursor: pointer;
        display: block;
        position: absolute;
        border: 2px solid black;
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1); 0s;

        background: black;
        color:white;
        justify-content: center;
        align-items: center;
        display: flow-root;
    }
    a.animated-button.thar-three:hover {
        color: #000 !important;
        background-color: transparent;
        text-shadow: nthree;
    }
    a.animated-button.thar-three:hover:before {
        left: 0%;
        right: auto;
        width: 100%;
    }
    a.animated-button.thar-three:before {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 0px;
        z-index: -1;
        content: '';
        color: #000 !important;
        background: #C4AE9D; 
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);0s;
    }

</style>

