<!--=====================================
Home Banner
======================================-->  

<!-- <div 
*ngIf="!preload"
class="ps-home-banner">
    <div class="ps-carousel--nav-inside owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1"  data-owl-duration="1000" data-owl-mousedrag="on" data-owl-animate-in="fadeIn" data-owl-animate-out="fadeOut">

        <div 
		*ngFor="let slide of banner_home; let i = index; let lastIndex = last" 
        class="ps-banner--market-4" 
        [attr.data-background]="path+'img/products/'+category[i]+'/horizontal/'+slide['IMG tag']"
        >
        	<img src="{{path}}img/products/{{category[i]}}/horizontal/{{ slide['IMG tag']}}" alt="">
            <div class="ps-banner__content">
            
                
            </div>

        {{ lastIndex ? callback() : "" }}   
        </div>

    </div>

    

</div> End Home Banner--> 

<div class="navImage">


</div>


<!--=====================================
Preload <h4>Hola</h4>  

======================================-->
<!-- <div
*ngIf="preload"
class="d-flex justify-content-center">
    
    <div class="spinner-border text-muted my-5">
      
      
    </div> -->

    <style>
        
        .navImage {
           background-color: #490D40;
           background: url("https://firebasestorage.googleapis.com/v0/b/market-place-31cf1.appspot.com/o/Images%2FGWD9nWQzdS23k3hr.png?alt=media&token=2daac6db-45f8-46a0-ac05-7a34680a14e1") no-repeat center center;
           width: 100%;
           background-size: cover;
           height: 685px;
           margin-top: -85px;
           background-attachment: fixed;
           background-repeat: no-repeat;
           
           .heading {
              color: white;
              text-align: center;
              padding-top: 200px;
           }

           .col-3 {
                -ms-flex: 0 0 25%;
                flex: -2 7 45%;
                max-width: 45%;
            }

           a {
              text-align: center;
              padding: 20px 60px;
              size: 20px;
              
               .btn {
                 background-color: transparent;
                 color: white;
                 border: 1px solid white;
                 padding: 10px;
                 font-size: 1.2em;
                     
                  &:hover {
                     color: #C57ED3;
                     border-color: #C57ED3;
                  }
              }
           }

           
        }
    </style>




<!-- </div>
 -->
<!-- <div  class="box">



  <style>

     .box {
          border: 180px solid #E8E6E1;
          
        }
            
  </style>

   

</div> -->



    



