<!--=====================================
Footer
======================================-->  
 
    <footer class="ps-foot" >

        <div>

            <div
            
             class="ps-footer__widgetstx">

                <style>
                    .ps-footer__widgetstx {
                          background-color: '$colorprincipal'; 
                          display: -webkit-box;
                          display: flex;
                          -webkit-box-orient: horizontal;
                          -webkit-box-direction: normal;
                                  flex-flow: row nowrap;
                          -webkit-box-pack: justify;
                                  justify-content: space-between;
                          padding-bottom: 35px;
                        }                    
                </style>

            	<!--=====================================
      				Contactanos  #f0ec0c               
      				======================================-->  

                <aside class="widget widget_footer widget_contact-us">

                    <img src="{{path}}img/template/logo_light.png">
                    <br>
                    <br>

                    <div class="widget_content">

                       <h4>BOXFOX es lo ideal para regalar. Compre cajas de regalo personalizadas  <br><br> y personalizadas para amigos y familiares. Compre curaciones empaquetadas, cree <br><br> un BOXFOX personalizado o personalice cajas de regalo corporativas.</h4><br>

                            <input class="form-control" type="email" placeholder="Introduce tu correo electrónico">
                            <button class="ps-btnng">UNIRSEJOIN</button>

                            <style> 
                                aside{
                                    margin-top: 80px;
                                    margin-left: 80px;
                                    margin-right: 80px;
                                }

                            </style>
                           
                    </div>

                </aside>

                <!--=====================================
        				Quick Links
        				======================================-->  

                <aside class="widget widget_footer">

                    <ul class="ps-list--link">

                        <li><a href="#"><h4>TIENDA</h4></a></li>

                        <li><a href="#"><h4>CONSTRUYE UN BOXFOX</h4></a></li>

                        <li><a href="#"><h4>MERCADO</h4></a></li>

                        <li><a href="#"><h4>ACERCA DE</h4></a></li>

                        <li><a href="faqs.html"><h4>REGALOS CORPORATIVOS</h4></a></li>

                         <li><a href="#"><h4>LA FLOTA DE ZORROS</h4></a></li> 

                       

                    </ul>
 
                </aside>

                

                <!--=====================================
				Bussiness

                Preguntas? Estamos a su disposición de lunes a viernes, de 9 a. M. A 6 p. M., Hora del Pacífico.
				======================================-->  

                <aside class="widget widget_footer">

                    <h2>CHARLEMOS</h2>


                       <div class="widget_content">

                           <h4><a href ="#">¿Preguntas? Estamos a su disposición <br>
                            de lunes a viernes, de 9 a. M. A 6 p. M.,<br> Hora del Pacífico.<br>
                     

                            _______________________________<br>

                            hello@shopboxfox.com <br>

                            _______________________________

                          </a>
                          </h4>

                          <ul class="ps-list--social">
                            <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a class="google-plus" href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>

                     </div>
     

                </aside>
              
            </div>

        </div>

    </footer>

