<footer class="ps-footer" 
style="background:#eeedeb; margin-top: 5%;
padding-top: 0px;">
   
    <div class="footer-tex row" style="background:#eeedeb;">
     
      <a class="terms col-sm-1" href="our-story">
        <h4 id="f3" style="text-align: center;
        font-family:'Libre Franklin', sans-serif; 
        font-size: 18px; font-weight: 450;">{{texto_1}}</h4>
      </a>
      <a class="terms col-sm-1" href="get-in-touch">
        <h4 style="text-align: center;
        font-family:'Libre Franklin', sans-serif; 
        font-size: 18px; font-weight: 450;">{{texto_2}}</h4>
      </a>
      <a class="terms col-sm-2" href="terms">
        <h4 id="f3" style="text-align: center; 
        font-family:'Libre Franklin', sans-serif; 
        font-size: 18px; font-weight: 450;">{{texto_3}}</h4>
      </a>
      <a class="terms col-sm-1" href="frequently-asked-questions">
        <h4 id="f3" style="text-align: center;
        font-family:'Libre Franklin', sans-serif; 
        font-size: 18px; font-weight: 450;">{{texto_4}}</h4>
      </a>
   
   </div> 

   <div class="footer-tex" style="background:#eeedeb;">

      <a style="margin-bottom: 3%;margin-left: 3%;
      font-family:'Libre Franklin', sans-serif; 
      font-size: 18px; font-weight: 450;color: black;" href="#">
        {{texto_5}} 
      </a>

   </div> 
 
</footer>
 
<style>
  @media (max-width: 360px) {
    .footer-tex {
      justify-content: center;
    }
  }
  @media (max-width: 411px) {
    .footer-tex {
      justify-content: center;
    }
  }
  @media (max-width: 320px) {
    .footer-tex {
      justify-content: center;
    }
  }
  @media (max-width: 414px) {
    .footer-tex {
      justify-content: center;
    }
  }
  @media (max-width: 375px) {
    .footer-tex {
      justify-content: center;
    }
  }
  @media (max-width: 768px) {
    .footer-tex {
      justify-content: center;
    }
  }
  @media (max-width: 375px) {
    .footer-tex {
      justify-content: center;
    }
  }
  @media (max-width: 540px) {
    .footer-tex {
      justify-content: center;
    }
  }
  @media (max-width: 280px) {
    .footer-tex {
      justify-content: center;
    }
  }
  .footer-tex{
    background: rgb(196, 174, 157);
    width: 100%;
    display: flex;
  }
  .terms{
    margin: 2%;
  }
  .row{
    width: 100%;
    margin-left: 0px;
  }
  .footer-fin>a{
    font-size: 100%;
   }
  .thy{
    height: 30%;
    background: #C4AE9D;
  }
</style>
